/*
* Author: Graphite Theme
* Created by: Shahid (Scientech IT)
* Copyright (c) 2015 Graphite
* Date: 6 May, 2015
* http://www.webriti.com
* Name: default.css

*/

body { background: #16181d; color: #969dab; }
#wrapper { background: none repeat scroll 0 0 #16181d; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { color: #ffffff; }
p, .portfolio-content p a { color: #969dab; }


/*Header Social Icons---------------------------------------------------------------------------------------------------*/
.top-header-detail { background-color: #1d1f25; border-bottom: 1px solid #2c3038; }
.header-contact-info1 li ,.header-contact-info2 li ,.header-contact-info2 a ,.header-contact-info2 a:hover, .header-contact-info2 a:focus, .top-header-detail .widget .header-contact-info1 li a { color: #ffffff; }
.header-contact-info1 li a:focus,.header-contact-info1 li a:focus{ color:#fff; }
.head-contact-social li { background-color: #d0d0d0; }
.head-contact-social li.facebook:hover { background-color: #4c66a4; }
.head-contact-social li.twitter:hover { background-color: #15b4c9; }
.head-contact-social li.googleplus:hover { background-color: #DD4B39; }
.head-contact-social li.linkedin:hover { background-color: #006599; }
.head-contact-social li.skype:hover { background-color: #40beee; }
.head-contact-social li.dribbble:hover { background-color: #c7366f; }
.head-contact-social li.youtube:hover { background-color: #cc2423; }
.head-contact-social li.vimeo:hover { background-color: #20b9eb; }
.head-contact-social li.pagelines:hover { background-color: #364146; }
.head-contact-social li > a > i { color: #FFFFFF; }
.sm-top-btn a { background-color: #4c7700; color: #ffffff; box-shadow: 0 2px 0 0 #265401; }
.sm-top-btn a:hover, .sm-top-btn a:focus { color: #ffffff; }

/* Header Top Content Css */
.header-content { background: transparent; color: #ffffff; }
.header-content h1, .header-content h3 { color: #fff; }
.top-header-detail .sm-address address { color: #ffffff; }

/* Menu Section css---------------------------------------------------------------------------------------------------- */ 
.navbar-default { background-color: transparent; border-color: #e7e7e7; }
.navbar { background-color: #16181d; }
.navbar-inverse .navbar-toggle { background: none repeat scroll 0 0 #66d1b9; }
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus { background-color: #66d1b9; }
.navbar-default .navbar-brand { color: #1b1b1b; } 
.navbar-inverse { background-color: rgba(0, 0, 0, 0.6); }
.navbar .navbar-nav > .current_page_item > a,
.navbar .navbar-nav > .current_page_item > a:hover,
.navbar .navbar-nav > .current_page_item > a:focus { color: #16181d; }
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a { color: #ffffff; background-color:transparent; }  
.navbar-default .navbar-nav > .current_page_item > a,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .current_page_item > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .current_page_item.open > a:hover,  
.navbar-default .navbar-nav > .current_page_item > a:focus,
.navbar-default .navbar-nav > .active > a:focus { 
	color: #ffffff;
 }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav  .dropdown.active.open:hover  a, 
.navbar-default .navbar-nav  .dropdown.active.open:focus  a{
	color:#fff;
 }
/*Dropdown Menus & Submenus Css----------------------------------------------------------*/
.dropdown-menu{
	background-color: #16181d;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.dropdown-menu > li > a { color: #d5d5d5; border-bottom: 1px dotted #363544; }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus { color: #ffffff; background-color: #1d1f25; }
.dropdown-menu > li.current_page_item > a,
.dropdown-menu > li.current_page_item > a:hover,
.dropdown-menu > li.current_page_item > a:focus { color: #ffffff; background-color: #1d1f25; }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{ background-color:#1d1f25; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { color: #ffffff; }

@media only screen and (min-width: 480px) and (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #d5d5d5; }

}
@media only screen and (min-width: 200px) and (max-width: 480px) { 
.navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #d5d5d5; }

}

/*Cart Detail Header--------------------------------------------------------------------------------------------------*/
.sm-top-btn .minicart-link, .sm-top-btn .minicart-link:hover { color: #fff; }

/*Homepage Carousel Bootstrap Slider Section------------------------------------------------------------------*/ 
.page-seperate { background: url("../images/page-shadow.png") no-repeat center bottom #16181d; }
.slide-text-bg1 { background-color: rgba(18, 4, 1, 0.8); }
.slide-text-bg1 h1 { color: #ffffff; text-shadow: 0 0px 1px rgba(155, 155, 155, 0.7); }
.slide-text-bg1 p { color: #ffffff; text-shadow: 0 0px 1px rgba(155, 155, 155, 0.7); }
.slide-btn-area-sm { margin: 0px 0 0px; float: left; width: 80%; }
.slide-btn-sm { background-color: #191919; color: #ffffff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
.slide-btn-sm:hover { color: #ffffff; }
.slide-btn-area-sm a.slide-btn-sm::before{ background-color: #e32235; }
.slide-btn-area-sm a.slide-btn-sm span { color:#fff; }

/* Direction Nav */
.carou-direction-nav a { background: #ffffff; color: #000000; }
.carou-direction-nav .carou-prev { color: #000000; }
.carou-direction-nav .carou-next { color: #000000; }
.slide-shadow { background: url("../images/slide-shadow.png") no-repeat center bottom #fff; }

/*Portfolio Pagination Scroll------------------------------------------------------------------------------------------------*/
.scroll-btn li { background: #0f0f16; color: #ffffff; }
.scroll-btn li a { color: #ffffff !important; }
.scroll-btn li a:hover { color: #ffffff !important; }
a.btn-prev:before { color: #ffffff !important; }
a.btn-next:before { color: #ffffff !important; } 

/*Pagination Static------------------------------------------------------------------------------------------------------------*/
.sm-pagi a, .sm-blog-pagi a, .page-numbers.current, .nav-links a { background-color: transparent; border: 1px solid #2c3038; color: #ffffff; }
.sm-pagi a:hover, .sm-pagi a.active, 
.sm-blog-pagi a:hover, .sm-blog-pagi a.active, .page-numbers.current, .nav-links a:hover  { background-color: #2c3038; border: 1px solid #2c3038; color: #FFFFFF; }
.white { color: #ffffff !important; }

/*Homepage Portfolio Section-------------------------------------------------------------------------------------------------*/
.portfolio-content-area { background-color: #1d1f25; border: 1px solid #2c3038; }
.portfolio-content-area .wp-caption { background: rgba(0, 0, 0, 0.8); color: #ffffff; }
.portfolio-content-area .wp-caption small { color: #ffffff; }
.portfolio-content-area .portfolio-content h3, .portfolio-content-area h3,
.portfolio-content-area .portfolio-content h3 > a, .portfolio-content-area h3 > a { color: #ffffff; }
a.portfolio-btn { color: #ffffff; box-shadow: 0 3px 0 0 #9a0e1c; }
a.portfolio-btn:hover { color: #ffffff; }

/*Homepage Service Section-------------------------------------------------------------------------------------------------*/
#service { background-color: #1d1f25; border-bottom: 1px solid #2c3038; border-top: 1px solid #2c3038; }
.entry-header .entry-title:after { background-color: #424853; }
.entry-header .entry-title > a { color: #ffffff; }

/*Testimonial Section Css here---------------------------------------------------------------------------------------------------*/
#testimonial { background: url("../images/testimonial-bg.jpg") repeat fixed 0 0 rgba(0, 0, 0, 0); }
#testimonial .overlay{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); }
.description-box { background-color: #ffffff; }
.description-box:before { border-left: 14px solid transparent; border-right: 14px solid transparent; border-top: 15px solid #ffffff; }
.author-description, .author-description p { color: #64646d; }
.testmonial-area h4 { color: #ffffff; }
.author-box img { background-color: transparent; border: 1px solid #ffffff; }
.text-color { color: #ffffff !important; }
.testi-pager .carousel-indicators li { background-color: transparent; border: 1px solid #fff; }
.testi-pager .carousel-indicators li.active { background-color: #fff; border: 1px solid #fff; }
.testi-pager .carousel-indicators li:last-child { border: 1px solid #fff !important; }
.wbr-section .testi-pager .carousel-indicators li { background-color: transparent; border: 1px solid #ffffff; }
.wbr-section .testi-pager .carousel-indicators li.active { background-color: #ffffff; border: 1px solid #ffffff; }
.wbr-section .testi-pager .carousel-indicators li:last-child { border: 1px solid #ffffff !important; }
.wbr-section .description-box { background-color: #efefef; }
.wbr-section .description-box:before { border-left: 14px solid transparent; border-right: 14px solid transparent; border-top: 15px solid #efefef; }
.wbr-section .testmonial-area h4 { color: #ffffff; }

/*Homepage News & Blog Css--------------------------------Start by wdl----------------------------------------------------------------*/
.post-content-area { background: transparent; border-bottom: 1px dotted #424853; border-left: 0 none; border-right: 0 none; border-top: 0 none; }
.post-content-area h3.entry-title, .post-content-area h3.entry-title a { color: #ffffff; }
.format-video .video-wrapper p { color: #969dab; text-shadow: none; }
.post-content-area a.post-thumbnail img { border-radius: 0px; border: 4px solid #16181d; -moz-box-shadow: 0px 0px 2px #424853; -webkit-box-shadow: 0px 0px 2px #424853; box-shadow: 0px 0px 2px #424853; }
.testi-pagi li.active { background-color:#ffffff; }

/*Homepage About Info Css------------------------------------------------------------------------------------------------*/
.sm-about-area img { border: 4px solid #16181d; -moz-box-shadow: 0px 0px 2px #424853; -webkit-box-shadow: 0px 0px 2px #424853; box-shadow: 0px 0px 2px #424853; }
.sm-aboutus-section p { color: #969dab; }
.about-btn a { color: #ffffff; }

/*Homepage Google Map Css------------------------------------------------------------------------------------------------*/
.google-map { border: 4px solid #16181d; box-shadow: 0 0 2px 0 #424853; }
.sm-address-icon { color: #ffffff; }
.sm-address address { color: #ffffff; }
.sm-address address > abbr { color: #969dab; border-bottom: 1px dotted #424853; }

/*Section Title Css----------------------------------------------------------------------------------------------------*/
.widget-title { color: #ffffff; }
.widget-separator { background-color: #cccccc; }

/*Additional & Gallery section ------------------------------------------------------------------------------------------------*/
#gallery { background-color: #1d1f25; border-top: 1px solid #2c3038; border-bottom: 1px solid #2c3038; }
#additional { background-color: transparent; border-top: none; border-bottom: none; }
#client { background-color: #1d1f25; border-top: 1px solid #2c3038; }
#callout { border-top: 1px solid transparent; border-bottom: 1px solid transparent; }








/*Homepage Callout Css------------------------------------------------------------------------------------------------*/
.sm-callout { background-color: #1d1f25; }
.sm-callout h4 { color: #969dab; }
.sm-callout h4 a, .sm-callout h4 abbr { color: #ffffff; border-bottom: 1px dotted #aeadbc; text-decoration: none; font-weight: 600; }
.sm-callout-btn a {  color: #ffffff !important;  }
.sm-callout-btn a:hover { color: #ffffff; }
.sm-seperate { background: transparent url("../images/callout-shadow.png") no-repeat scroll center bottom; }

/*Page Title Section Css-------------------------------------------------------------------------------------*/
.page-title h1 { color: #ffffff; }
.page-breadcrumb > li + li:before { color: #ffffff; }
.page-breadcrumb > li a { color: #ffffff; }

/*About Us Css --------------------------------------------------------------------------------------------------------------------*/
.about-section { background-color: #f4f4f4; }
.about-section h2 { color: #0f0f16; }
.about-section h2 > span { font-size:30px; }
.about-section p { color: #64646d; }
.about-social li { background-color: #ffffff; border: 1px solid #e3e3e3; }
.about-social li.facebook:hover { background-color: #4c66a4; }
.about-social li.twitter:hover { background-color: #15b4c9; }
.about-social li.googleplus:hover { background-color: #DD4B39; }
.about-social li.linkedin:hover { background-color: #006599; }
.about-social li.skype:hover { background-color: #40beee; }
.about-social li.dribbble:hover { background-color: #c7366f; }
.about-social li.youtube:hover { background-color: #cc2423; }
.about-social li.vimeo:hover { background-color: #20b9eb; }
.about-social li.pagelines:hover { background-color: #364146; }
.about-social li > a > i { color: #0f0f16; }
.about-social li:hover > a > i { color: #ffffff; }
.page-template-about .blog-section img { 
    border: 5px solid #16181d;
    -moz-box-shadow: 0px 0px 2px #424853;
    -webkit-box-shadow: 0px 0px 2px #424853;
    box-shadow: 0px 0px 2px #424853;
}

/*Graphite Amenities Section Css here---------------------------------------------------------------------------------*/
#amenities { background: url("../images/testimonial-bg.jpg") repeat fixed 0 0 rgba(0, 0, 0, 0); }
#amenities .overlay{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); }
.sm-amenities { background: rgba(0, 0, 0, 0.3); border: 1px solid #e9e9e9; color: #ffffff; }
.sm-amenities:hover { background: rgba(0, 0, 0, 0.5); }

/*Team Section-------------------------------------------------------------------------------------------------*/
.team-area { background-color: #1d1f25; border: 1px solid #2c3038; }
.team-caption { background-color: transparent; color: #ffffff; }
.team-caption h4 { color: #ffffff; }
.team-caption h6 { color: #969dab; }
.team-showcase-overlay { background: rgba(255, 255, 255, 0.4); }
.team-image .team-showcase-icons a { background-color: #21202e; color: #ffffff; }
.team-image .team-showcase-icons a:hover { color: #ffffff; }

/*Blog Section Css------------------------------------------Start by wdl-------------------------------------------------------------------*/
.blog-section { background: transparent; }
.blog-section .post-content-area { background-color: #1d1f25; border: 1px solid #2c3038; }
.blog-section .post-content-area .entry-header { color: #ffffff; }
.blog-section .post-content-area .entry-header .entry-title { color: #ffffff; }
.blog-section .post-content-area .entry-meta { color: #969dab; border-top: 1px dotted #424853; border-bottom: 1px dotted #424853; }
.blog-section .post-content-area .entry-meta a { color: #969dab; }
.blog-section .post-content-area a.more-link, a.more-link, a.more-link span,
input[type="submit"], 
.page-links a {  color: #ffffff !important; }
.blog-section .post-content-area a.more-link:hover, .more-link:hover { color: #ffffff !important;}
.blog-section .post-content-area .entry-date a::before, .post-content-area .tag-links::before, .post-content-area .author::before { color: #969dab; }
.post-featured-area { background-color: #ffffff; border: 1px solid #e9e9e9; }

/*Blog Pagination*/
.blog-pagination a { background-color: #ffffff; border: 1px solid #dbdbdb; color: #242526; }
.blog-pagination a:hover, .blog-pagination a.active { background-color: #ee591f; border: 1px solid #ee591f; color: #FFFFFF; }
.blog-author { background-color: #1d1f25; border: 1px solid #2c3038; }
.blog-author img { border: 3px solid #fff; -moz-box-shadow: 0px 0px 1px #ccc; -webkit-box-shadow: 0px 0px 1px #ccc; box-shadow: 0px 0px 1px #ccc; }
.blog-author h6 { color: #ffffff; }
.blog-author p { color: #969dab; }
.blog-author-social li { background-color: #ffffff; border: 1px solid #21202e; }
.blog-author-social li.facebook:hover { background-color: #4c66a4; border: 1px solid #4c66a4; }
.blog-author-social li.twitter:hover { background-color: #15b4c9; border: 1px solid #15b4c9; }
.blog-author-social li.googleplus:hover { background-color: #DD4B39; border: 1px solid #DD4B39; }
.blog-author-social li.linkedin:hover { background-color: #006599; border: 1px solid #006599; }
.blog-author-social li.skype:hover { background-color: #40beee; border: 1px solid #40beee; }
.blog-author-social li.dribbble:hover { background-color: #c7366f; border: 1px solid #c7366f; }
.blog-author-social li.youtube:hover { background-color: #cc2423; border: 1px solid #cc2423; }
.blog-author-social li.vimeo:hover { background-color: #20b9eb; border: 1px solid #20b9eb; }
.blog-author-social li.pagelines:hover { background-color: #364146; border: 1px solid #364146; }
.blog-author-social li > a > i { color: #0f0f16; }
.blog-author-social li:hover > a > i { color: #ffffff; }
.comment-section { background-color: #1d1f25; border: 1px solid #2c3038; }
.comment-title { border-bottom: 1px dotted #424853; }
.comment-title h3 { color: #ffffff; }
.comment-title h3 > i { color: #ffffff; }
.comment-detail { border-bottom: 1px dotted #424853; }
.comment-detail-title { color: #ffffff; }
.comment-detail p { color: #969dab; }
.reply a { color: #ffffff;  }
.reply a:hover {	color: #ffffff; }
.comment-form-section, .cont-form-section { background-color: #1d1f25; border: 1px solid #2c3038; }
.blog-form-control, .cont-form-control, .wpcf7 input[type="text"], 
.wpcf7 input[type="password"], .wpcf7 input[type="email"], .wpcf7 textarea { background-color: transparent; border: 1px solid #424853; color: #969dab; }
.wpcf7 p label { color: #969dab; }
.blog-form-control::-webkit-input-placeholder, 
.blog-form-control-textarea::-webkit-input-placeholder,
.cont-form-control::-webkit-input-placeholder, 
.cont-form-control-textarea::-webkit-input-placeholder { color: #969dab; }
.blog-form-control::-moz-placeholder, 
.blog-form-control-textarea::-moz-placeholder, 
.cont-form-control::-moz-placeholder, 
.cont-form-control-textarea::-moz-placeholder { color: #969dab; }
.blog-form-control:-ms-input-placeholder, 
.blog-form-control-textarea:-ms-input-placeholder, 
.cont-form-control:-ms-input-placeholder, 
.cont-form-control-textarea:-ms-input-placeholder { color: #969dab; }
.blog-form-control-textarea, .cont-form-control-textarea { background-color: transparent; border: 1px solid #424853; color: #969dab; }

/* wdl sidebar css -----------------------------------------Start by wdl------------------------------------------------------*/
/* -- Widget Titles -- */
.widget h1.widget-title a.rsswidget{ color: #0f0f16; }
.callout .widget h4.widget-title { color: #0f0f16; }
.separator { background-color: #cccccc; }
.top-header-detail .section-title, .footer-sidebar .section-title { border-bottom: 1px solid #363544; } 
.widget h3.widget-title a.rsswidget { color: #ffffff; }

/* Blog sidebar --------------------------------------------------------------------------------------------------------------------------*/
.sidebar .section-title { background-color: #2c3038; }
.sidebar .section-title h3.widget-title, 
.sidebar .section-title h3.widget-title a, 
.sidebar .widget h3.widget-title a.rsswidget { color: #ffffff; }
.sidebar .section-title h3.widget-title a:hover, .sidebar .section-title h3.widget-title a:focus { color: #ffffff; }
.sidebar .widget { background-color: #1d1f25; border: 1px solid #2c3038; }
.widget select { border: 1px solid #e9e9e9; }

/* -- Widgets ----------------------------------------------------------------------------------------------------------------------------*/
.wbr-typography .widget li { border-bottom: 1px dotted #403f4e; }
.wbr-typography .widget li ul.children li:first-child { border-top: 1px dotted #403f4e; }
.wbr-typography .widget li ul.sub-menu li:first-child { border-top: 1px dotted #403f4e; }
.wbr-typography .widget .textwidget p strong { color: #ccc; }
.wbr-typography .widget .rss-date, .wbr-typography .widget cite { color: #ccc; }
.wbr-typography .widget a.rsswidget { color: #ffffff; }
.wbr-typography .widget table{ background-color: #ffffff; }
.wbr-typography .widget table, .wbr-typography .widget th, .wbr-typography .widget td {  color: #969dab; }
.wbr-typography .widget .tagcloud { padding: 0; } 
.wbr-typography .widget .tagcloud a { background-color: transparent; border: 1px solid #9595a0; color: #9595a0; }

/*All Sidebar Widget----------------------------------------------------------------------------------------------------------------------*/
/*Sidebar Calender Widget*/
.widget table, .widget table { background-color: transparent; color: #969dab; }
.widget #wp-calendar caption { color: #ffffff; }
.widget table, .widget th, .widget td { border: 1px solid #424853; }
.widget #wp-calendar tbody a { color: #ffffff; }
.widget #wp-calendar tbody a:hover, .widget #wp-calendar tbody a:focus { color: #ffffff; }
.widget #wp-calendar #next a, .widget #wp-calendar #prev a { color: #ffffff; }
/*Links Widget */
.widget ul.children li:first-child, .widget ul.sub-menu li:first-child { border-top: 1px dotted #424853; }
.amenities-section li { border-top: 0 none; color: #ffffff; }
.widget li { border-bottom: 1px dotted #424853; }
.widget li a, ul li, ol li { color: #969dab; }
.widget ul#recentcomments li.recentcomments span.comment-author-link { color: #969dab; }
/*Sidebar Rss Widget*/
.widget .rss-date, .widget cite { color: rgb(93, 97, 104); }
.wbr-typography .widget .rss-date, .wbr-typography .widget cite { color: #dddddd; }
.widget a.rsswidget { color: #ffffff; }
.widget .rssSummary { color: #969dab; }
/* .wbr-typography .footer-sidebar .widget .rssSummary, */ 
.wbr-typography .footer-sidebar .widget .textwidget, 
.wbr-typography .footer-sidebar .widget .textwidget p { color: #969dab; }
.wbr-typography .footer-sidebar .widget li a { color: #969dab; }
/*Sidebar Text Widget*/
.widget .textwidget, .widget .textwidget p, .wp-caption p.wp-caption-text { color: #969dab; }
/*Sidebar Form Widget*/
.widget form.search-form input.search-field { border: 1px solid #e9e9e9; color: #969dab; }
.widget form.search-form input.search-submit { color: #ffffff; }
/*Sidebar Tags*/
.widget .tagcloud a { background-color: #1d1f25; border: 1px solid #424853; color: #969dab; }
.widget .tagcloud a:hover { color: #ffffff; }

/* Wp Default Core classes -------------------------------------------------------------------------------------------------------------*/
blockquote { background-color: #2c3038; }
blockquote cite, blockquote small { color: #777; }
table { background-color: transparent; color: #969dab; }
table th { color: #ffffff; }
table, th, td { border: 1px solid #424853; }
abbr { border-bottom: 1px dotted #64646d; } 
ins { color: #ffffff; }
.gallery .gallery-icon img { border: 5px solid #fff !important; -moz-box-shadow: 0 0 5px 2px #ccc; -webkit-box-shadow: 0 0 5px 2px #ccc; box-shadow: 0 0 5px 2px #ccc; }
.post-password-form label, select { color: #969dab; }
.post-password-form input[type="password"] { border: 1px solid rgba(51, 51, 51, 0.1); color: rgba(51, 51, 51, 0.7); }

/*Contact Section Css-------------------------------------------------------------------------------------------------------------*/
.contact-section { background: transparent; }
.sm-cont-widget { background-color: transparent; border: 0 none; }
.cont-description p { color: #969dab; }
.cont-info address { color: #969dab; }
.cont-info address > a { color: #969dab; }
.cont-title { color: #ffffff; }
.cont-social li { background-color: #ffffff; border: 1px solid #21202e !important; }
.cont-social li:last-child { border-bottom: 1px solid #21202e !important; }
.cont-social li.facebook:hover { background-color: #4c66a4; border: 1px solid #4c66a4 !important; }
.cont-social li.twitter:hover { background-color: #15b4c9; border: 1px solid #15b4c9 !important; }
.cont-social li.googleplus:hover { background-color: #DD4B39; border: 1px solid #DD4B39 !important; }
.cont-social li.linkedin:hover { background-color: #006599; border: 1px solid #006599 !important; }
.cont-social li.skype:hover { background-color: #40beee; border: 1px solid #40beee !important; }
.cont-social li.dribbble:hover { background-color: #c7366f; border: 1px solid #c7366f !important; }
.cont-social li.youtube:hover { background-color: #cc2423; border: 1px solid #cc2423 !important; }
.cont-social li.vimeo:hover { background-color: #20b9eb; border: 1px solid #20b9eb !important; }
.cont-social li.pagelines:hover { background-color: #364146; border: 1px solid #364146 !important; }
.cont-social li > a > i { color: #0f0f16; }
.cont-social li:hover > a > i { color: #ffffff; }
.cont-google-map { border: 5px solid #16181d; box-shadow: 0 0 1px 0 #424853; }

/* Contact Form 7 -------------------------------------------------------------------------------------------------------------------*/
.wpcf7 p, .widget .wpcf7 .wpcf7-form  p { color: #64646d; }
.wpcf7-text, .wpcf7-file, .wpcf7-number, .wpcf7-date, .wpcf7-select, .wpcf7-quiz, .wpcf7-textarea { background-color: transparent;
	border: 1px solid #e9e9e9; color: #555; }
.wpcf7-validation-errors { color: red; }

/*Gallery Section Css----------------------------------------------------------------------------------------------------------*/
.gallery-section { background: transparent; }
.gallery-showcase-overlay { background: #000000; }
.gallery-image .gallery-showcase-icons a i { color:#ffffff; }
.gallery-image { border: 4px solid #fff; -moz-box-shadow: 0px 0px 2px #ccc; -webkit-box-shadow: 0px 0px 2px #ccc; box-shadow: 0px 0px 1px #ccc; }
.gallery-area .gallery-caption { color: #fff; }
/*Footer Sidebar Section Css--------------------------------------------------------------------------------------------------------*/
#footer { background-color: #16181d; }
.site-info { border-top: 1px dotted #403f4e; }
.site-info p { color: #f7f7f7; }

/*Scroll Layout Button*/
.hc_scrollup { background-color: #c62128; }
.hc_scrollup i { color: #ffffff; }

/*Typography White color css---------------------------------------------------------------------------------------------------------*/
.wbr-typography .entry-header .entry-title > a, 
.wbr-typography .entry-content, .wbr-typography .entry-content p, 
.wbr-typography .wpcf7 p, .wbr-typography .widget .wpcf7 .wpcf7-form  p, 
.wbr-typography .wpcf7-quiz-label, 
.wbr-typography .post-content-area h3.entry-title, .wbr-typography .post-content-area h3.entry-title a, 
.wbr-typography .sm-address-icon, .wbr-typography .sm-address address, 
.wbr-typography .sm-address address > a, .wbr-typography .sm-address address > abbr, 
.wbr-typography .widget li, .wbr-typography .widget li a, .wbr-typography .widget li i, 
.wbr-typography .section-title h1, .wbr-typography .cont-title, 
.wbr-typography .cont-info address, .wbr-typography .cont-info address > a, 
.wbr-typography .widget_wdl_about_info_widget p, .wbr-typography .about-btn a , 
.wbr-typography .section-title p, .footer-sidebar .widget-title, 
.top-header-detail .widget-title, .wbr-typography .widget ul#recentcomments li.recentcomments span.comment-author-link, 
.wbr-typography .widget ul#recentcomments li.recentcomments, .wbr-typography .widget h3.widget-title a.rsswidget, 
.wbr-typography .widget .textwidget, .wbr-typography .widget .rssSummary, 
.wbr-typography .widget .textwidget p, 
.wbr-typography h1, .wbr-typography h2, .wbr-typography h3, .wbr-typography h4, .wbr-typography h5, .wbr-typography h6 { 
	color: #ffffff; 
}
.wbr-typography .testmonial-area h4, .wbr-typography .widget .wpcs_product_carousel_slider .title { color: #ffffff !important; }
.wbr-typography .widget blockquote, .wbr-typography .wpcf7 input[type="text"], .wbr-typography .wpcf7 input[type="email"], .wbr-typography .wpcf7 input[type="url"], .wbr-typography .wpcf7 .wpcf7-textarea, .wbr-typography .wpcf7 input[type="tel"], .wbr-typography .wpcf7 input[type="number"], .wbr-typography .wpcf7 input[type="date"], .wbr-typography .widget .textwidget select, .wbr-typography div.wpcf7 input[type="file"] { 
	background-color: #ffffff; 
}
.wbr-typography .testi-pager .carousel-indicators li { border: 1px solid #ffffff !important; }
.wbr-typography .testi-pager .carousel-indicators li.active { background-color: #ffffff !important; border: 1px solid #ffffff !important; }
.wbr-section.wbr-typography .testi-pager .carousel-indicators li:last-child { border: 1px solid #ffffff !important; }
.wbr-typography .cont-social li { background-color: transparent; border: 1px solid #ffffff !important; }
.wbr-typography .cont-social li:last-child { border-bottom: 1px solid #ffffff !important; }
.wbr-section .widget blockquote p { color: #64646d !important; }
#footer .footer-sidebar .entry-content p, #footer .footer-sidebar .widget_wdl_about_info_widget p, #footer .footer-sidebar .sm-address-icon i, 
#footer .footer-sidebar address, #footer .footer-sidebar address > abbr, #footer .footer-sidebar .cont-info address > a { color: #9595a0; }
#footer .footer-sidebar .post-content-area a.post-thumbnail img { border: 4px solid transparent; }
#footer .footer-sidebar .post-content-area { border-bottom: 1px dotted #403f4e; }
#footer .footer-sidebar .post-content-area:last-child { border-bottom: 0; }

/* Woocommerce Colors-------------------------------------------------------------------------------------------- */

.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins, .woocommerce div.product p.price ins, .woocommerce ul.products li.product .price, .woocommerce .variations td.label, .woocommerce table.shop_table td, .woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce .woocommerce-ordering select, .woocommerce-cart table.cart td.actions .coupon .input-text, .select2-container .select2-choice { color: #969dab; }

.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce .posted_in a, .woocommerce-product-rating a, .woocommerce .tagged_as a, .woocommerce ul.products li.product .button, .woocommerce div.product form.cart .variations td.label label, .woocommerce #reviews #comments ol.commentlist li .meta strong, .woocommerce table.shop_table th, .woocommerce-cart table.cart td a, .owl-item .item .cart .add_to_cart_button, .woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-error, .woocommerce-info, .woocommerce-message { color: #fff; }

.woocommerce ul.products li.product:hover .button, 
.woocommerce ul.products li.product:focus .button, 
.woocommerce div.product form.cart .button:hover, 
.woocommerce div.product form.cart .button:focus, 
.woocommerce div.product form.cart .button, .woocommerce a.button, .woocommerce a.button:hover, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], .woocommerce-EditAccountForm input.woocommerce-Button, .owl-item .item .cart .add_to_cart_button:hover, #add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img { border: 4px double #e9e9e9; }
.woocommerce a.remove, .woocommerce .woocommerce-Button, .woocommerce .cart input.button, .woocommerce input.button.alt, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce .cart input.button:hover, 
.woocommerce .cart input.button:focus, 
.woocommerce input.button.alt:hover, 
.woocommerce input.button.alt:focus, 
.woocommerce input.button:hover, 
.woocommerce input.button:focus, 
.woocommerce button.button:hover, 
.woocommerce button.button:focus, 
.woocommerce #respond input#submit:hover, 
.woocommerce #respond input#submit:focus, 
.woocommerce ul.products li.product:hover .button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce .return-to-shop a.button  { color: #ffffff !important; }

.woocommerce div.product form.cart .button, .woocommerce a.button, .woocommerce a.button:hover, .woocommerce a.added_to_cart, .woocommerce table.my_account_orders .order-actions .button { color: #fff; }
 
.woocommerce ul.products li.product .button, .woocommerce div.product form.cart .variations, 
.woocommerce div.product form.cart .variations td.label, .owl-item .item .cart .add_to_cart_button, .woocommerce table.shop_table { background: transparent !important; }

.woocommerce ul.products li.product .button, .woocommerce ul.products li.product .button:hover, .owl-item .item .cart .add_to_cart_button { border: 1px solid #424853 !important; }

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product { background-color: #1d1f25; border: 1px solid #2c3038; }

.woocommerce ul.products li.product .onsale, .woocommerce span.onsale { background: transparent; border: 2px solid #555555; color: #000; }
.woocommerce ul.products li.product:hover .onsale, .woocommerce mark, .woocommerce ins { color: #fff; }
.woocommerce span.onsale:hover { color: #000; }

.woocommerce div.product form.cart .button, .woocommerce a.button, .woocommerce a.button:hover, .woocommerce a.button, .woocommerce .woocommerce-Button, .woocommerce .cart input.button, .woocommerce input.button.alt, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce .cart input.button:hover, 
.woocommerce .cart input.button:focus, 
.woocommerce input.button.alt:hover, 
.woocommerce input.button.alt:focus, 
.woocommerce input.button:hover, 
.woocommerce input.button:focus, 
.woocommerce button.button:hover, 
.woocommerce button.button:focus, 
.woocommerce #respond input#submit:hover, 
.woocommerce #respond input#submit:focus, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button { border: 1px solid transparent !important; }
.price_label { color: #727272; }
.woocommerce a.added_to_cart { background: #21202e; border: 1px solid #424853; }
.woocommerce a.button { border-radius: 0px; box-shadow: none; }
.woocommerce #reviews #comments ol.commentlist li .comment-text { border: 1px solid #424853; }
.woocommerce #reviews #comments ol.commentlist li .meta time { color: #8f969c; }
.woocommerce #review_form #respond textarea, .woocommerce-cart table.cart td.actions .coupon .input-text { border: 1px solid #e9e9e9; }
.woocommerce-error, .woocommerce-info, .woocommerce-message { background-color: #2c3038; }
.woocommerce-message, .woocommerce-info { box-shadow: 0 7px 3px -5px #09090a; }
.woocommerce table.shop_table, .woocommerce table.shop_table td { border: 1px solid rgba(44, 48, 56, .9); }
.woocommerce table.shop_table th { background-color: #2c3038; }
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img { border: 4px double #e9e9e9; }
.woocommerce a.remove { background: #555555; }
.woocommerce .checkout_coupon input.button, 
.woocommerce .woocommerce-MyAccount-content input.button, .woocommerce .login input.button { color: #ffffff; border: 1px solid transparent; }
.woocommerce-page #payment #place_order { border: 1px solid transparent; }
.select2-container .select2-choice, .select2-drop-active, .woocommerce .woocommerce-ordering select, .woocommerce .widget select { border: 1px solid #e9e9e9; }

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text { border: 1px solid #e9e9e9; }
.woocommerce-checkout #payment ul.payment_methods { background-color: #2b2f37; border: 1px solid rgba(0, 0, 0, .1); }
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box { background-color: #1c1e24; }
#add_payment_method #payment div.payment_box:before, 
.woocommerce-cart #payment div.payment_box:before, 
.woocommerce-checkout #payment div.payment_box:before {
    border: 1em solid #1b1d23;
	border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}	

.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total { border-top: 3px double #2c3038; }

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span { 
	background-color: transparent;
    border: 1px solid #2c3038;
    color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current { background-color: #2c3038; border: 1px solid #2c3038; color: #ffffff; }
.woocommerce-MyAccount-navigation ul li { border-bottom: 1px solid #424853; }
.woocommerce-EditAccountForm input.woocommerce-Button { border: 1px solid #ffffff; }

.ui-slider .ui-slider-handle {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #e7e7e7;
    background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#e7e7e7));
    background: -webkit-linear-gradient(#FEFEFE,#e7e7e7);
    background: -moz-linear-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    background: -moz-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}
.price_slider_wrapper .ui-widget-content {
	background: #1e1e1e;
    background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#6a6a6a));
    background: -webkit-linear-gradient(#1e1e1e,#6a6a6a);
    background: -moz-linear-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
    background: -moz-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
}
.sidebar-widget .widget-title { border-bottom: 2px solid #eeeeee; }
.sidebar-widget .woocommerce ul.cart_list li { border-bottom: 1px dotted #d1d1d1; }
.woocommerce div.product .woocommerce-tabs .panel { background: #1d1f25; border: 1px solid #2c3038; }
.woocommerce form.form-row { background-color: #2a2e36; }
.woocommerce p.woocommerce-FormRow { background: transparent; }
.woocommerce .edit-account fieldset legend { color: #fff; }
.woocommerce-checkout #payment div.form-row { background-color: #2a2e36 !important; }

/*Woocommerce Product Slider Carousel----------------------------------------------------------------------------------*/
.product_container { background-color: #1d1f25; border: 1px solid #2c3038; }
.wpcs_product_carousel_slider .owl-item .item h4.product_name, 
.wpcs_product_carousel_slider .owl-item .item h4.product_name a, 
.wpcs_product_carousel_slider .owl-item .item .cart .add_to_cart_button,
.wpcs_product_carousel_slider .owl-item .item .cart:hover .add_to_cart_button,
.testimonial-section .wpcs_product_carousel_slider .title, .top-header-detail .wpcs_product_carousel_slider .title, 
.wpcs_product_carousel_slider .title { 
	color: #ffffff !important; 
}
.wpcs_product_carousel_slider .title { bordr: 1px solid #2c3038; }
.wpcs_product_carousel_slider .woocommerce-Price-amount { color: #969dab !important; }
