.sortable{ 
	list-style-type: none;
	margin: 0;
	padding: 0; 
	margin-bottom: 10px;
	min-height:100px;
	padding:5px 0;
}
.customizer_layout {
	background-color:#ccc;
 }
 
.sortable li {
	margin: 5px;
	padding: 5px;
	width: 215px; 
	background-color:#fff;
	border:1px solid #000;
	text-align:center;
}
 .color_scheem_active,.theme_style_active{
	/* border:2px solid #000 !important; */
	border: 1px solid #000 !important;
    border-radius: 2px;
 }
 
#customize-control-theme_color label img,#customize-control-graphite_layout_style label img,#customize-control-predefined_back_image label img{
	margin: 0px 5px 5px 0px;
}

#customize-control-checkbox label, .customize-control-nav_menu_auto_add label, .customize-control-radio label {
    display: inline-block;
    line-height: 20px;
    margin-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.accordion-section-content h3 { margin: 0 0 25px; }
 
#customize-control-front_page_data label { 
	display:none !important;
}

#customize-control-predefined_back_image input[type="radio"] {
	display:none !important;
}

#customize-control-image_back_image input[type="radio"] {
	display:none !important;
}

#customize-control-graphite_layout_style input[type="radio"] {
	display:none !important;
} 

#customize-control-theme_color  input[type="radio"] {
	display:none !important;
} 

#customize-control-hotel_wrap_style input[type="radio"] {
	display:none !important;
}
#customize-control-theme_style_type input[type="radio"] {
	display:none !important;
} 

#customize-control-show_on_front label{
	display:block;
}
#customize-control-show_on_front input[type="radio"]{
	margin:0;
}