/*
* Author: Graphite Theme
* Created by: Shahid (Scientech IT)
* Copyright (c) 2015 Graphite
* Date: 1 May, 2015
* http://www.webriti.com
*/

/* This Media screen css called for All Appointment Theme Pages-------------------------------------------------*/

@media only screen and (min-width: 960px) and (max-width: 1200px) {
/*Menus*/
.navbar .navbar-right { float: left !important; }
/*Carousel Slider------------------------------------------------*/
.post-standard { width: 60%; }
.slide-text-bg1 { padding: 10px 15px 13px; width: 80%; }
.slide-text-bg1 h1 { font-size: 40px; line-height: 45px; }
.slide-text-bg1 p { font-size: 16px; line-height: 22px; }
.slide-btn-sm { font-size: 11px; }
.slide-btn-area-sm a.slide-btn-sm span { float: left; margin: 0; padding: 12px 17px; }
.slide-btn-area-sm a.slide-btn-sm::before { font-size: 10px; padding: 11px 14px; }
.video-content { padding: 10px 15px 13px; }

/*About--------------------------------------------------------------------------*/
.about-img-area { margin: 0 0 25px; padding: 0px; position: relative; }

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
/*Menus*/
.navbar .navbar-right { float: left !important; }
.navbar-collapse.in { overflow: hidden; }
/*Carousel Slider---------------------------------------------*/
.post-standard { width: 60%; }
.slide-text-bg1 { padding: 7px 15px 10px; width: 80%; }
.slide-text-bg1 h1 { font-size: 34px; line-height: 40px; padding: 0 0 7px; }
.slide-text-bg1 p { font-size: 14px; line-height: 18px; }
.slide-btn-sm { font-size: 10px; }
.slide-btn-area-sm a.slide-btn-sm span { float: left; margin: 0; padding: 8px 14px; }
.slide-btn-area-sm a.slide-btn-sm::before { font-size: 9px; padding: 7px 10px; }
body.boxed .carousel-inner > .item > img, body.boxed .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.video-content { padding: 7px 15px 10px; }
.format-video1 .video-frame { margin: 0; }
.format-video1 h1 { font-size: 34px; line-height: 40px; }
.format-video1 .video-content p { font-size: 12px; line-height: 15px; }
/*Blockquote----------------------------------------*/
.format-quote1, .format-aside1, .format-status1 { width: 80%; }
/*Callout------------------------------------------*/
.sm-callout-btn { float: left; margin-top: 15px; }
/*About-------------------------------------------*/
.about-img-area { margin: 0 0 25px; padding: 0px; position: relative; }
/*Sidebar-----------------------------------------*/
.sm-right-sidebar { margin-top: 30px; }

}	

@media only screen and (min-width: 480px) and (max-width: 767px) {
/*Menus*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a { transition: all 0.3s ease-in-out 0s; }
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover { 
	background-color: transparent; 
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-left: 0px; margin-right: 0px; }
.navbar-nav { width: 100%; }
.navbar-nav > li { border-right: 0px none; }
.navbar-toggle {
    color: #0f0f16;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: 700;
    margin: 28px auto 28px;
    border-radius: 2px;
    padding: 7px 18px;
	letter-spacing: 0.1em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a { padding: 17px; }
.navbar-nav { margin: 7.5px 0px; }
.navbar-collapse { padding-right: 0px; padding-left: 0px; }
.navbar-nav .open .dropdown-menu > li > a { padding: 12px 5px 15px 20px; margin: 0; }
/*Header Contact Info-------------------------------------------*/
.head-contact-social { float: none; text-align: center; margin: 17px 0 17px; }
.head-contact-info { float: none; text-align: center; margin: 10px 0 17px; }
.header-contact-info1 { text-align: center; }
.top-header-detail .col-sm-6:last-child .widget .header-contact-info1 { float: none; }  
.top-header-detail #top-header-sidebar-right .wdl_header_topbar_info_widget { padding-top: 0px; }
/*Carousel Slider---------------------------------------------*/
.post-standard, .format-standard1 { width: 70%; }
.slide-text-bg1 { padding: 7px 15px 10px; width: 100%; }
.slide-text-bg1 h1 { font-size: 26px; line-height: 30px; padding: 0 0 5px; }
.slide-text-bg1 p { font-size: 12px; line-height: 18px; }
.slide-btn-sm { font-size: 10px; }
.slide-btn-area-sm a.slide-btn-sm span { float: left; margin: 0; padding: 5px 10px; }
.slide-btn-area-sm a.slide-btn-sm::before { font-size: 7px; padding: 4px 8px; }
.carou-direction-nav a { width: 40px; height: 40px; }
.carou-direction-nav a:before { font-size: 30px; line-height: 1.3; }
.carou-direction-nav :hover .carou-prev { left: 20px; }
.carou-direction-nav :hover .carou-next { right: 20px; }
body.boxed .carousel-inner > .item > img, body.boxed .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Slider Format Aside --------------------------------------------*/
.format-aside1, .format-status1, .format-quote1 { width: 70%; padding: 7px 15px 7px; }
.format-aside1 p { font-size: 15px; line-height: 23px; }
/*Slider Format Status --------------------------------------------*/
.format-status1 h1 { font-size: 26px; line-height: 30px; padding: 0 0 5px; }
.format-status1 p { font-size: 12px; line-height: 18px; }
/*Slider Format Quote --------------------------------------------*/
.format-quote1 p { font-size: 12px; line-height: 18px; }
.format-quote1 small { font-size: 11px; padding: 5px 0 0; }
/*Slider Format Video --------------------------------------------*/
.video-content { padding: 7px 15px 10px; }
.format-video1 { width: 100%; }
.format-video1 .video-content h1 { font-size: 22px; line-height: 27px; padding: 0; margin: 0px 0 5px; }
.format-video1 .video-content p { font-size: 10px; line-height: 13px; }
.format-video-btn-sm { font-size: 9px; padding: 1px 12px; margin: 7px 0 7px; }
.video-frame iframe { border: 4px solid #ffffff; }
.format-video1 .video-frame { margin: 0; }
.video-content { margin: 0px; }

/*Callout-----------------------------------------------------*/
.sm-callout-btn { float: left; margin-top: 15px; }
/*About----------------------------------------------------*/
.about-img-area { margin: 0 0 25px; padding: 0px; position: relative; }
/*Page Title-----------------------------------------------*/
.page-title h1, .page-breadcrumb { text-align: center; }
.page-title-section .overlay { padding: 23px 0 25px; }
/*Sidebar--------------------------------------------------*/
.sm-right-sidebar { margin-top: 30px; }
/*Top Book Button------------------------------------------*/
.sm-top-btn { float: left; padding: 25px 20px 25px 0; }

} 

@media only screen and (min-width: 200px) and (max-width: 480px) {
/*Logo----------------------------------------------------*/
.navbar-brand { display: block; float: none; margin-right: 0; padding: 20px 15px 10px 15px; }
.navbar-brand img { display: block; margin: 0 auto; text-align: center; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a { transition: all 0.3s ease-in-out 0s; }
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover { 
	background-color: transparent; 
}
/*Menus--------------------------------------------------*/
.navbar-collapse.in { overflow: hidden; }
.container > .navbar-header, .container-fluid > .navbar-header, 
.container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-left: 0px; margin-right: 0px; }
.navbar-nav { width: 100%; }
.navbar-nav > li { border-right: 0px none; }
.navbar-toggle {
    color: #0f0f16;
    display: block;
    float: none;
    font-size: 12px;
    font-weight: 700;
    margin: 13px auto 20px;
	  border-radius: 2px;
    padding: 7px 18px;
	  letter-spacing: 0.1em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a { padding: 17px; }
.navbar-nav { margin: 7.5px 0px; }
.navbar-collapse { padding-right: 0px; padding-left: 0px; }
.navbar-nav .open .dropdown-menu > li > a { padding: 12px 5px 15px 20px; margin: 0; }
/*Header Contact Info----------------------------------*/
.header-contact-info1, .header-contact-info2 { float: none; text-align: center; }
.header-contact-info1 { text-align: center; }
.top-header-detail .col-sm-6:last-child .widget .header-contact-info1 { float: none; } 
.top-header-detail #top-header-sidebar-right .wdl_header_topbar_info_widget { padding-top: 0px; }

/*Carousel Slider---------------------------------------------*/
.post-standard, .format-standard1 { width: 70%; }
.slide-text-bg1 { padding: 4px 10px 7px; width: 100%; }
.slide-text-bg1 h1 { font-size: 12px; line-height: 18px; padding: 0; }
.slide-text-bg1 p { font-size: 8px; line-height: 12px; }
.slide-btn-area-sm { margin: -2px 0 0; }
.slide-btn-sm { font-size: 8px; }
.slide-btn-area-sm a.slide-btn-sm span { float: left; margin: 0; padding: 2px 7px; }
.slide-btn-area-sm a.slide-btn-sm::before { font-size: 6px; padding: 1px 6px; }
.carou-direction-nav a { width: 30px; height: 30px; }
.carou-direction-nav a:before { font-size: 22px; line-height: 1.4; }
.carou-direction-nav :hover .carou-prev { left: 20px; }
.carou-direction-nav :hover .carou-next { right: 20px; }
body.boxed .carousel-inner > .item > img, body.boxed .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Slider Format Aside --------------------------------------------*/
.format-aside1, .format-status1, .format-quote1 { width: 70%; padding: 5px 10px 5px; }
.format-aside1 p { font-size: 9px; line-height: 12px; padding: 6px 20px 6px; }
.format-aside1 p:before, .format-aside1 p:after { width: 20px; height: 23px; font-size: 45px; }
/*Slider Format Status --------------------------------------------*/
.format-status1 h1 { font-size: 12px; line-height: 18px; padding: 0; }
.format-status1 p { font-size: 8px; line-height: 12px; }
/*Slider Format Quote --------------------------------------------*/
.format-quote1 p { font-size: 9px; line-height: 12px; }
.format-quote1 small { font-size: 8px; padding: 5px 0 0; }
.format-quote1 p:before { top: 0; }
/*Slider Format Video --------------------------------------------*/
.video-content { padding: 4px 10px 7px; }
.format-video1 { width: 100%; }
.format-video1 .video-content h1 { font-size: 12px; line-height: 14px; font-weight: 400; padding: 0; margin: 0 0 5px; }
.format-video1 .video-content p { font-size: 8px; line-height: 11px; }
.format-video-btn-sm { font-size: 8px; line-height: 17px; padding: 0px 7px; margin: 5px 0 5px; }
.video-frame iframe { border: 3px solid #ffffff; }
.format-video1 .video-frame { width: 100%; }
.video-content { margin: 0px; }
.homepage-mycarousel .carousel-inner > .item > img {height: 175px;  }
/*Testimonial---------------------------------------------*/
.author-box { float: none; margin: 0 0px 20px 0; }
.author-box img { margin: 0 auto;  }
.description-box {padding: 20px; }
/*Callout-------------------------------------------------*/
.sm-callout h4 { float: none; }
.sm-callout-btn { float: left; margin-top: 15px; }
/*About--------------------------------------------------*/
.about-img-area { margin: 0 0 25px; padding: 0px; position: relative; }
.page-title-section .overlay { padding: 23px 0 25px; }
/*Page Title---------------------------------------------*/
.page-title h1 { text-align: center; }
.page-breadcrumb { text-align: center; }
.page-breadcrumb > li { padding: 0; }
/*Sidebar-------------------------------------------------*/
.sm-right-sidebar { margin-top: 30px; }
/*Top Book Button-----------------------------------------*/
.sm-top-btn { float: left; padding: 25px 20px 25px 0; }

}

@media only screen and (max-width: 800px) {
.clients.row { margin-left: 0px; margin-right: 0px; }
} 

@media only screen and (max-width: 480px) {
.wbr-section .wdl_aboutpage_amenities_widget {
   width: 100%;
}}