/*
* Author: Graphite Theme
* Created by: Shahid (Scientech IT)
* Copyright (c) 2015 Graphite
* Date: 27 Dec, 2015
* http://www.webriti.com/demo/wp/Graphite
*/

/* Menu Section css---------------------------------------------------------------------------------------------------- */ 
.navbar {
	border: 0px none;
	position: relative;
	min-height: 40px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
}
.nav {
    list-style: outside none none;
    margin-bottom: 0;
	padding: 0px;
}
.navbar-inverse .navbar-toggle {
    border-color: none;
}
.navbar-inverse {
    border-color: none;
    border-style: none;
    border-width: 0px;
    padding: 5px 0;
	border-color: none;
}
.navbar-brand {
	font-family: 'Dosis';
	font-weight:600;
    font-size: 32px;
    height: auto;
    line-height: 42px;
    margin-right: 50px;
	padding: 25px 0px;
}
.navbar > .container .navbar-brand { margin-left: 0px; }
.navbar-inverse {
    border-bottom: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	padding: 0;
}
.navbar-wrapper {
	position: absolute;
	right: 0;
	left: 0;
	margin-top: 0px;
	z-index: 20;
}
.navbar .navbar-nav > li {
    margin-right: 0px;
    padding: 0 0 0px 0px;
}
.navbar-default .navbar-nav > li > a {
	font-family: 'Dosis';
	font-weight:600;
	font-size: 16px;
	letter-spacing: 0.5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 0px;
	padding: 35px 17px;
	transition: all 0.3s ease-in-out 0s;
}
/*Dropdown Menus & Submenus Css----------------------------------------------------------*/
.dropdown-menu {
    padding: 0;
	min-width: 200px;
	border-radius: 0px;
	box-shadow: 0;
	/* border: 0 none; */	
}
.dropdown-menu > li { padding: 0; margin: 0; }
.dropdown-menu > li > a {
    font-family: 'Dosis';
	font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 20px;
	transition: all 0.3s ease-in-out 0s;
	letter-spacing: 0.7px;
	white-space: normal;
}
.dropdown-menu > li > a:last-chlid {
	border-bottom: 0px;
	border-bottom: 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
}
.dropdown-submenu { position:relative; }
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100% !important;
    margin-top:0px;
    margin-left:0px;
    -webkit-border-radius:0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;
    border-radius:0px 0px 0px 0px;
}
.dropdown-submenu:hover > .dropdown-menu { display:block; }
.dropdown-submenu .pull-left{ float:none; }
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 12px 15px;
	margin: 0 8px;
}
.navbar-right .dropdown-menu {
    left: 0;
    right: 0;
}

@media only screen and (max-width: 767px) and (min-width: 480px)
{
.open:{ }
}