/*===================================================================================*/
/*  WOOCOMMERCE CSS
/*===================================================================================*/
.woocommerce .woocommerce-result-count { margin: 1em 0 1em; }
.woocommerce .products ul, .woocommerce ul.products { margin: 0; }
.woocommerce ul.products li.product h3 { text-align: center; margin: 0em 0 1em; padding: 0; font-weight: 700; }
.woocommerce .products .star-rating { margin: 0 auto .5em; }
.woocommerce .price { text-align: center; }
.woocommerce ul.products li.product .price, 
.woocommerce ul.products li.product .price del { font-size: 1.1em; font-weight: 600; }
.woocommerce ul.products li.product .price del { display: inline-block; }
.woocommerce ul.products li.product .price ins { font-weight: 600; }
.woocommerce div.product p.price { text-align: left; font-weight: 600; }
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product { transition: all 0.6s; text-align: center; padding: 0.4em 0.4em 1.5em; margin-bottom: 2em; }
.woocommerce ul.products li.product .onsale, .woocommerce span.onsale { 
    border-radius: 0;
    line-height: 1em;    
    padding: .200em .250em .300em;
    margin: 0;
    left: 10px;
    top: 10px;
    right: inherit;
    min-width: auto;
    min-height: auto;
	transition: all 0.5s; 
}
.woocommerce ul.products li.product .button { box-shadow: none; border-radius: 0px; padding: .650em 0.7em; transition: all 0.5s; margin-top: 0.7em; }
.woocommerce a.added_to_cart { padding: .650em 0.7em; font-weight: 700; line-height: 1; margin-top: 0.7em; }
.woocommerce a.button { border-radius: 0px; box-shadow: none; }
.woocommerce table.my_account_orders .order-actions .button { margin: 0 2px; }
.woocommerce table.my_account_orders .order-actions .button:last-child { margin-top: 4px; }
.woocommerce div.product form.cart .button, .woocommerce a.button, .woocommerce a.button:hover { padding: .700em 1.2em; }
.woocommerce .posted_in a, .woocommerce-product-rating a, .woocommerce .tagged_as a { transition: all 0.5s; font-weight: 600; }
.woocommerce div.product form.cart { margin-top: 2em; padding: 0; }
.woocommerce div.product form.cart .variations { padding: 2em 0; margin: 0 0 2em; }
.woocommerce .variations td.label { padding: 0; font-size: 15px; }
.woocommerce div.product form.cart .variations select { margin: 0; }
.woocommerce div.product form.cart .variations tr { display: block; padding: 0; }  
.woocommerce div.product form.cart .variations td { display: list-item; list-style: none; text-align: left; line-height: 1.2em; padding: 0em; }    
.woocommerce div.product form.cart .variations td.label label { font-family: 'Dosis'; margin-bottom: 15px; }
.woocommerce .woocommerce-variation-price { margin: 0 0 1em; }
.woocommerce-variation-price .woocommerce-Price-amount { font-weight: 600; }
.woocommerce-tabs { padding: 2em 0 0; }
.woocommerce div.product #reviews .comment img, 
.woocommerce-page div.product #reviews .comment img { border-radius: 100%; height: 70px; margin: 2px 0 20px; width: 70px; float: left; }
.woocommerce #reviews #comments ol.commentlist { padding: 0; } 
.woocommerce #reviews #comments ol.commentlist li .comment-text { margin: 0 0 0 90px; }
#review_form_wrapper { margin: 3em 0 2em; }
.woocommerce #reviews #comments ol.commentlist li .meta strong { font-size: 16px; }
.woocommerce #reviews #comments ol.commentlist li .meta time { font-size: 16px; }
.woocommerce #reviews h3 { margin: 0 0 1em; }
.woocommerce div.product .woocommerce-tabs .panel { box-shadow: none; padding: 1em 1em 1em; border-radius: 0; }
.woocommerce-error li, .woocommerce-info li, .woocommerce-message li { padding: 0; }
.woocommerce-Tabs-panel h2, .woocommerce .related h2, 
.woocommerce .cart-collaterals .cart_totals h2, .woocommerce-page .cart-collaterals .cart_totals h2 { font-size: 24px; line-height: 30px; }
.woocommerce .related h2 { margin: 0 0 30px; }
.woocommerce table.shop_table { border-radius: 0; margin: 0 -1px 40px 0; padding: 0; }
.woocommerce table.shop_table th { border: none; font-size: 16px; padding: 12px; font-weight: 600; }
.woocommerce table.shop_table td { border-left: none; border-right: none; border-bottom: none; }
.woocommerce-cart table.cart td { font-weight: 600; padding: 15px 12px; }
.woocommerce-cart table.cart td a { font-weight: 600; transition: all 0.3s; }
.woocommerce-cart .cart-collaterals .cart_totals table td { vertical-align: middle; }
.woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce table.shop_table td a { font-weight: 600; }
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img { width: 70px; }
.woocommerce a.remove { line-height: 0.8em; }
.woocommerce .quantity .qty { width: 3.5em; text-align: left; height: 40px; padding: .500em 0.7em; border-radius: 0; }
.woocommerce td.product-name dl.variation { margin: .35em 0 0; }
.woocommerce td.product-name dl.variation dt, .woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dd p { line-height: 20px; }
.woocommerce-cart table.cart td.actions .coupon .input-text { width: 180px; padding: .490em 0.7em; border-radius: 0; height: auto; }
.woocommerce .cart input.button, .woocommerce input.button.alt, .woocommerce button.button, .woocommerce #respond input#submit { 
	border-radius: 1px; 
	padding: .600em 0.7em;
	transition: all 0.5s; 
}
.woocommerce-page .cart input.button:hover, 
.woocommerce .cart input.button:focus, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:focus, 
.woocommerce input.button.alt:hover, 
.woocommerce input.button.alt:focus, 
.woocommerce input.button:hover, 
.woocommerce input.button:focus, 
.woocommerce button.button:hover, 
.woocommerce button.button:focus, 
.woocommerce #respond input#submit:hover, 
.woocommerce #respond input#submit:focus { 
	box-shadow: none;
}
.woocommerce .checkout_coupon input.button, 
.woocommerce .woocommerce-MyAccount-content input.button, .woocommerce .login input.button { border-radius: 0; height: 40px; }
.woocommerce .woocommerce-MyAccount-content input.button { margin-top: 10px; }
.woocommerce-cart .wc-proceed-to-checkout { padding: 1em 0 0; }
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button { padding: .750em 1.2em; margin-bottom: 0; box-shadow: none; }
.woocommerce-page #payment #place_order { float: left; height: 40px; }
.woocommerce form .form-row label, .woocommerce-page form .form-row label, .wc_payment_method label, .woocommerce #review_form #respond p label { font-weight: 600; font-size: 16px; }
.woocommerce form .form-row .required { text-decoration: none; }
.woocommerce form .form-row input.input-text { border-radius: 0; height: 40px; padding: 6px 12px; }
.select2-container .select2-choice { height: 46px; padding: 6px 12px; }
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text { padding: 6px 12px; }
.woocommerce h3#order_review_heading { font-size: 24px ; line-height: 30px; margin: 25px 0; }
.woocommerce table.shop_table td { padding: 12px; font-weight: 600; }
.woocommerce table.shop_table tfoot th { font-weight: 600; }
.woocommerce .order_details { margin: 0 0 2em; padding: 0; } 
.woocommerce .order_details li { font-size: 0.9em; }	
.woocommerce .order_details li strong { font-size: 1.2em; padding: 10px 0 0px; }	
.woocommerce .wc-bacs-bank-details-heading, .woocommerce h2, .woocommerce .title h3 { font-size: 24px ; line-height: 30px; }
.woocommerce .title h3 { font-weight: 500; }	
.woocommerce nav.woocommerce-pagination { margin: 0 0 10px; }
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li { border: none; }	
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span { 
    cursor: pointer;
    display: inline-block;
    font-family: 'Dosis';
    font-weight: 600;
    transition: all 0.3s ease 0s;
    font-size: 18px;
    line-height: 20px;
    border-radius: 0%;
    margin: 0 3px 10px;
    padding: 8px;
    vertical-align: baseline;
    white-space: nowrap;
    width: 37px;
    height: 37px;
}
.woocommerce-MyAccount-navigation ul li { list-style: none; padding: 0.8em 0; font-weight: 600; }
.woocommerce-account .addresses .title .edit { font-weight: 600; }
.woocommerce-account .addresses .title .edit, .edit-account fieldset legend { border-bottom: none; padding: 20px 0 5px; margin: 0 0 20px; }
.woocommerce-MyAccount-navigation ul { padding: 0; }
.woocommerce-EditAccountForm input.woocommerce-Button { margin: 10px 0 0; padding: .900em 1.5em; border-radius: 0; transition: all 0.5s; }
.woocommerce form .form-row { padding: 0; }
.woocommerce .woocommerce-Button { height: auto !important; margin: 10px 0 0 !important; }
.woocommerce .page-title { margin: 0; }
.woocommerce div.product div.images div.thumbnails { margin-left: 0; }
.woocommerce .woocommerce-ordering select { 
	height: 40px;
    padding: 8px;
    border-radius: 0;
    margin: 0;
    width: 100%;
}

.widget .wpcs_product_carousel_slider { margin: 0px; }
.widget .wpcs_product_carousel_slider .title { border-bottom: none !important; }
.woocommerce-page .state_select a, .woocommerce-page .country_select a { border-radius: 0; color: #969dab !important; }

/*===================================================================================*/
/*  WOOCOMMERCE SIDEBAR WIDGETS
/*===================================================================================*/
.price_slider { margin-bottom: 1em; }
.price_slider_amount { text-align: right; line-height: 2.4em; font-size: 0.8751em; }
.price_slider_amount .button { font-size: 1.15em; float: left; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 0.9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    top: -.3em;
}
.ui-slider .ui-slider-handle:last-child { margin-left: -1em; }
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size:.7em;
    display: block;
    border: 0;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.ui-slider-horizontal { height:.5em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: -1px; }
.ui-slider-horizontal .ui-slider-range-max { right: -1px; }
.woocommerce li.cat-item { padding: 5px 0; }
.woocommerce .woocommerce-product-search, .woocommerce .price_slider_wrapper { padding: 0 25px 30px 25px !important; }
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total { padding: 15px 25px 0px 25px !important; }
.woocommerce.widget_shopping_cart .buttons { padding: 0px 25px 30px 25px !important; }
.woocommerce .dropdown_product_cat { margin: 0 25px 30px 25px !important; }
.woocommerce-product-search input[type="search"] {
    border-radius: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin: 0px 0px 15px 0px;
	border: 1px solid #e9e9e9;
    color: #64646d;
    height: 45px;
    padding: 6px 12px;
    background-image: none;
    display: block;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 80%;
}
.woocommerce-product-search input[type="submit"] { 
	border: none;
    border-radius: 0px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 10px;
    margin-right: 0px;
	margin-top: 0;
    padding: 9px 25px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.sidebar-widget .widget-title { font-size: 24px; line-height: 30px; padding-bottom: 11px; display: inline-block; margin: 0 0 20px; }
.woocommerce .sidebar-widget { margin: 0 0 50px; }
.woocommerce .widget_layered_nav ul li, .woocommerce .widget_rating_filter ul li { padding: 12px 0; }
.woocommerce .sidebar-widget ul { padding: 0; list-style: none; }
.woocommerce ul.product_list_widget li a:before, .product_list_widget li a:before { display:none; } 



.product_list_widget a { display: block; }
.woocommerce ul.cart_list li dl, .woocommerce ul.product_list_widget li dl{padding-left:0;border-left:none; }
.woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dt{font-size:16px; }
.woocommerce ul.cart_list li { margin: 0 0 15px; }
.woocommerce ul.product_list_widget li, .product_list_widget li { padding: 15px 0; margin-bottom: 0px; }
.sidebar .product_list_widget li:first-child { padding-top: 0px !important; }
.sidebar-widget ul.product_list_widget { padding: 0; } 
.product_list_widget li { list-style: none; } 
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img, 
.woocommerce-page ul.product_list_widget li img { width: 60px; float: left; margin-left: 0; margin-right: 15px; padding-left: 0px; }
.woocommerce .widget_shopping_cart .cart_list li a.remove, 
.woocommerce.widget_shopping_cart .cart_list li a.remove { position: absolute; top: 0; left: 0; }
.woocommerce .widget_shopping_cart .cart_list li, 
.woocommerce.widget_shopping_cart .cart_list li { padding-left: 2em; position: relative; padding-top: 0; }
.woocommerce .order_details { padding: 0; }
.blog-post-title-wrapper h2, .title h3 { font-weight: 300; }
.woocommerce-account .addresses .title .edit, .edit-account fieldset legend { padding: 20px 0 5px; margin: 0 0 20px; }
.woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td { border-top: none; }
.form-row input[type="submit"] { height: 46px; }
.price_label { font-weight: 600; font-size: 16px; }
.owl-item .item .cart .add_to_cart_button { 
    box-shadow: none;
    border-radius: 0px !important;
    padding: .650em 0.7em !important;
    font-weight: 700 !important;
    transition: all 0.5s !important;
    margin-top: 0.7em;
}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li { margin-bottom: 15px; }
.woocommerce form.login, .woocommerce form.register { padding: 0; border: none;  }

/*Woocommerce Product Slider Carousel----------------------------------------------------------------------------------*/
.product_container { padding: 0.4em 0.4em 1.5em; }
.wpcs_product_carousel_slider .owl-item .item h4.product_name { 
	font-family: 'Dosis' !important; 
	font-weight: 700 !important; 
	margin: 1.4em 0 0.7em !important; 
	font-size: 1.1em !important;
}
.wpcs_product_carousel_slider .owl-item .item h4.product_name a { font-weight: 700 !important; }
.wpcs_product_carousel_slider .woocommerce-Price-amount { font-family: 'Dosis' !important; font-weight: 600; }
.five-column .col-md-2:nth-child(5n+1) { clear: left; }