/*
Theme Name: Graphite
Theme URI: https://wordpress.org/themes/
Author: Webriti.com
Author URI: https://wordpress.org/
Created by: Shahid (Scientech IT)
Description: Graphite is a responsive and fully customizable template for Business. Advanced admin panel enable you to customize theme without any technical information, on the other hand we provide 6 predefined colors scheme to change all the styles.Customize existing graphics to create your own unique website interface.
Tags: full-width-template, threaded-comments, right-sidebar, one-column, two-columns, custom-menu, sticky-post, translation-ready, featured-images 
Version: 1.0.2
License URI: https://webriti.com
License: GNU General Public License v3 or later
Text Domain: graphite 
*/

body {
    padding:0;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
	background-attachment: fixed;
	font-weight: 500;
	letter-spacing: 0.8px;
}
#wrapper { margin: 0 auto; position: relative; transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
h1, .h1 { font-size: 36px; line-height: 40px; }
h2, .h2 { font-size: 30px; line-height: 35px; }
h3, .h3 { font-size: 24px; line-height: 30px; }
h4, .h4 { font-size: 18px; line-height: 25px; }
h5, .h5 { font-size: 14px; line-height: 20px; }
h6, .h6 { font-size: 12px; line-height: 20px; }
h1, .h1, h2, .h2, h3, .h3, 
h4, .h4, h5, .h5, h6, .h6 { margin: 0px 0 25px; }
a { text-decoration: none !important; }
a:hover, a:focus { text-decoration: none !important; }
img { display: block; max-width: 100%; height: auto; }

/* Site Logo - Info-------------------------------------------------------------------------------------------------------------- */
h1.site-title { margin-top: 10px; }
.navbar-header .site-description { margin-bottom: 5px;  }

/*Header Social Icons---------------------------------------------------------------------------------------------------*/
.top-header-detail, .header-contact-info1 li a, .header-contact-info2 li a { padding: 0px 0; transition: all 0.2s ease 0s; font-weight: 400; }
.widget .header-contact-info1 { margin: 0px; }
.widget .header-contact-info1 li a::before { display: none; }
.widget .header-contact-info1 li { padding: 0px; margin-right: 0px; font-size: 15px; line-height: 20px; letter-spacing: 0.8px; }
.widget .header-contact-info1 i { font-size: 15px; line-height: 20px; padding-right: 7px; vertical-align: top; }
.sm-top-btn { float: right; margin: 0px; padding: 28px 0px 28px 30px; }
.sm-top-btn a {
	border-radius: 2px;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    display: inline-block;
	font-weight: 600;
	letter-spacing: 1.1px;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    padding: 6px 15px;
    text-align: right;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
/* Header Top Content Css */
.header-content h1 { font-size: 36px; line-height: 1.1; display: block; text-align: center; margin: 0px 0 15px; padding: 0px; 
color: #fff; text-shadow: 1px 2px 1px #000; }
.header-content h3 { display: block; text-align: center; margin: 0px; padding: 0px; text-shadow: 1px 2px 1px #000; }
.header-img {
	margin-bottom: 0px;
	margin-top: 0px;
	width: 100%;
	overflow: hidden;
	position: relative;
	transition: all 200ms ease-out 0s;
	text-align: center;
}
.header-content { background: transparent; top: 18%; padding: 0 10px; position: absolute; letter-spacing: 1px; z-index: 1;width: 100%; }
.wbr-section.top-header-detail { padding: 0; }
.top-header-detail #top-header-sidebar-left .wdl_header_topbar_info_widget, 
.top-header-detail #top-header-sidebar-right .wdl_header_topbar_info_widget { padding-top: 10px; padding-bottom: 10px; }
.top-header-detail .col-sm-6:last-child .widget .header-contact-info1 { float: right; }
.top-header-detail .col-sm-6:last-child .widget::after { content: ''; visibility: hidden; display: block; clear: both; }

/*Homepage Carousel Bootstrap Slider Section------------------------------------------------------------------*/ 
.homepage-mycarousel { padding-bottom: 0px; margin: 0 0 0px; }
.page-seperate { padding-bottom: 70px; margin: 0 0 0px; }
#carousel-example-generic .active > div { display: block; }
/*--------Slider Fade Effect-----------*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  transition-duration:1.8s;
}
.carousel-fade .carousel-inner .active { opacity: 1; }
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {  left: 0; opacity: 0; z-index: 1; }
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right { opacity: 1; }
.carousel-fade .carousel-control { z-index: 2; }
/*Standard Format*/
.format-standard1 {
	height: auto;
	left: 0; 
	padding: 15px;
	position: absolute; 
	right: 0; 
	text-align: left;
	z-index: 0;	
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slide-text-bg1 {
    float: left;
	text-align: left;
    margin: 0 0 0px;
    padding: 17px 20px 20px 20px;
    position: relative;
    width: 50%;
    z-index: 773;
}
.slide-text-bg1 h1 {
	font-weight: 300;
	font-size: 46px;
	border-radius: 2px;
	padding: 0 0 10px;
	display: block;
	letter-spacing: 0;
	line-height: 50px;
	margin: 0 0 0px;
}
.slide-text-bg1 p {
	font-size: 17px;
	font-weight: 400;
	display: block;
	border-radius: 2px;
	line-height: 25px;
	letter-spacing: 1px;
	padding: 0;
	margin: 0 0 0px;
}
.slide-btn-area-sm { margin: 0px 0 0px; float: left; width: 80%; }
.slide-btn-sm {
	border-radius: 0px;
    cursor: pointer;
    display: inline-block;
	transition: all 0.3s ease-in-out 0s;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 0;
	margin: 0;
    text-align: center;
    vertical-align: middle;
}
.slide-btn-area-sm a.slide-btn-sm::before { 
	content: "\f054";
	font-family: FontAwesome;
	margin: 1px 1px 1px 1px;
	padding: 14px 15px;
	font-size: 12px;
	float: right;
}
.slide-btn-area-sm a.slide-btn-sm span{ margin: 0px; padding: 13px 20px; float: left; }
.slide-text-bg1 { background-color: rgba(18, 4, 1, 0.8); }
.format-status1 {
	height: auto;
	left: 0;
	margin: 0px auto;
	padding: 15px;
	position: absolute;
	text-align: center;
	right: 0;
	width: 50%;
	z-index: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.format-status1 h1 { font-size: 46px; font-weight: 300; border-radius: 2px; padding: 0 0 10px; letter-spacing: 0;line-height: 50px;margin: 0 0 0px;}
.format-status1 p { font-size: 17px; font-weight: 400; border-radius: 2px; letter-spacing: 1px; padding: 0 0 5px; margin: 0 0 0px; }
.format-status-btn-sm {
	border-radius: 2px;
    cursor: pointer;
    display: inline-block;
	transition: all 0.3s ease-in-out 0s;
    font-size: 13px;
	font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 6px 11px;
	margin: 15px 0 15px;
    text-align: center;
    vertical-align: middle;
}
.format-status1 { background-color: rgba(18, 4, 1, 0.8); }
.format-status1 h1, .format-status1 p { color: #ffffff; }
/*Aside Format*/
.format-aside1 {
	height: auto;
	left: 0;
	margin: 0px auto;
	padding: 10px 20px;
	position: absolute;
	right: 0;
	width: 50%;
	z-index: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.format-aside1 p { 
	font-size: 18px;
	font-weight: 400;
	border-radius: 2px;
	line-height: 27px;
	letter-spacing: 1px;
	position: relative;
	padding: 15px 35px 10px;
	margin: 0 0 0px;
}
.format-aside1 p:before, .format-aside1 p:after { position: absolute; width: 30px; height: 30px; font-size: 60px; line-height: 1; }
.format-aside1 p:before { top: 0; left: 0; content: "\201C"; }
.format-aside1 p:after { top: 0; right: 0; content: "\201D"; }
.format-aside1 { background-color: rgba(18, 4, 1, 0.8); }
.format-aside1 p { color: #ffffff; }

/*Quote Format*/
.format-quote1 { background-color: rgba(18, 4, 1, 0.8); color: #ffffff; }
.format-quote1 {
	height: auto;
	left: 0;
	margin: 0px auto;
	padding: 15px 20px;
	position: absolute;
	right: 0;
	width: 50%;
	z-index: 0;
	line-height: 27px;
	letter-spacing: 1px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.format-quote1 p { color:#fff; margin: 0; }
.format-quote1 p:before {
	font-family: 'FontAwesome';
	content: "\f10d";
	font-size: 1.2em;
	line-height: 0.1em;
	margin-right: 0.40em;
	vertical-align: 0em;
	position: relative;
	top: -2px;
} 
.format-quote1 small { display: block; font-size: 15px; font-weight: 500; line-height: 20px; padding: 10px 0 0; }
.format-quote1 small:before { content: '— '; }
.format-quote1 { background-color: rgba(18, 4, 1, 0.8); color: #ffffff; }

/*Video Format*/
.format-video1 {
	height: auto;
	left: 0;
	padding: 0;
	position: absolute;
	right: 0;
	z-index: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.video-frame { background: #ffffff; margin: 0px; }
.video-frame iframe { border: 7px solid #ffffff; }
.format-video1 .video-frame { position: relative; padding-bottom: 56.25%; }
.format-video1 .video-frame iframe { position: absolute; top: 0; width: 100%; height: 100%; }
.video-content { background-color: rgba(18, 4, 1, 0.8); display: block; padding: 17px 20px 20px 20px; margin: 0px 0px 0px 5px; }
.format-video h1 {
	font-size: 46px;
	font-weight: 300;
	border-radius: 2px;
	padding: 0 0 15px;
	letter-spacing: 0;
	line-height: 50px;
	margin: 0px;
}
.format-video1 p { font-size: 17px; font-weight: 400; border-radius: 2px; line-height: 26px; letter-spacing: 1px; padding: 0px; margin: 0px; }
.format-video1 h1 { font-size: 46px; line-height: 50px; font-weight: 300; margin: 0px; padding: 0 0 10px; }
.format-video1 h1, .format-video1 p { color: #ffffff; text-shadow: 1px 1px 2px #000; }
.format-video-btn-sm {
	border-radius: 2px;
    cursor: pointer;
    display: inline-block;
	transition: all 0.3s ease-in-out 0s;
    font-size: 13px;
	font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 6px 15px;
	margin: 15px 0 15px;
    text-align: center;
    vertical-align: middle;
}
.format-video h1 { color: #ffffff; text-shadow: 1px 1px 2px #000; }
.format-video p { color: #ffffff; text-shadow: 1px 1px 2px #000; }

/*Section Header Css-------------------------------------------------------------------------------------------------*/
.section-header {
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto 45px;
    padding: 0 15px;
    position: relative;
    width: 97.4%;
    text-align: center;
}
.section-header h1.widget-title { font-weight: 500; margin: 0 0 0px; }
.section-header p { font-size: 18px; margin: 0px; letter-spacing: 0.5px; }
.widget-separator { width: 180px; height: 1px; margin: 21px auto 21px; }
.widget-separator span { width: 30px; height: 4px; margin: 0px auto; display: block; position: relative; bottom: 2px; }

/*Homepage Service Section-------------------------------------------------------------------------------------------------*/
.wbr-section { padding: 30px 0 30px; }
.widget { margin: 0; padding-top: 30px; padding-bottom: 30px; }
.post .post-thumbnail { margin: 0 0 25px; width: 100%; overflow: hidden; position: relative; }
.post .post-thumbnail i.fa {
    font-size: 4em;
    line-height: 100%;
    padding: 0px;
    position: relative;
    transition: all 100ms ease-out 0s;
	-webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
}
.post:hover .post-thumbnail i.fa { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.post .entry-header { display: block; margin: 0 0 20px; padding: 0; }
.entry-header .entry-title { margin: 0; }
.entry-header .entry-title:after { content: ""; display: block; height: 1px; margin: 20px auto 0; }
.entry-content, .entry-content p { line-height: 26px; margin: 0px; padding: 0; }
.txt-pink { color: #f22853; }
.txt-green { color: #6dc82b; }
.txt-orange { color: #fe8000; }
.txt-blue { color: #1abac8; }
.more { margin: 15px 0 0; display: block; font-weight: 600; letter-spacing: 0.5px; }

/*Homepage Portfolio Section----------------------------------Start by wdl---------------------------------------------------------*/
.portfolio-section { padding: 0 0 10px; }
.portfolio-section .portfolio-content-area { margin: 0 0 50px; padding: 6px; }
.wbr-section .portfolio-content-area { border-radius: 0; text-align: center; padding: 6px; transition: all 0.4s ease 0s; }
.portfolio-content { padding: 27px 20px 33px; text-align: left; word-wrap: break-word; }
.portfolio-img { margin-bottom: 0px; margin-top: 0px; max-width: 100%; overflow: hidden; position: relative; transition: all 200ms ease-out 0s; }
.portfolio-img img,.wp-post-image { transition: all 300ms ease-out 0s; opacity: 1; }
.portfolio-content-area:hover .portfolio-img img, .wp-post-image :hover {
	-webkit-transform: scale(1.15); /* Saf3.1+, Chrome */
	-moz-transform: scale(1.15); /* FF3.5+ */
	-ms-transform: scale(1.15); /* IE9 */
	-o-transform: scale(1.15); /* Opera 10.5+ */
	transform: scale(1.15);
	opacity: 1;
}
.portfolio-content-area .wp-caption {
    bottom: 0;
    font-size: 20px;
	font-weight: 600;
	padding: 6px 15px;
    position: absolute;
	letter-spacing: 1px;
    right: 0;
    text-align: center;
    z-index: 1;
	white-space: normal;
}
.portfolio-content-area .wp-caption small { font-weight: 600; font-size: 13px; letter-spacing: 0.5px; padding: 0 0 0 4px; }
.portfolio-content-area h3 { padding: 18px 0 25px; margin: 0; }
.portfolio-content-area .portfolio-content h3 { padding: 0 0 19px; margin: 0; }
.portfolio-content-area .portfolio-content h3 > a { text-decoration: none; transition: all 0.4s ease 0s; }
.portfolio-content-area .more-link { margin: 28px 0 0; }
.padding-0 { padding-top: 0 !important; }
#portfolio .widget { overflow: hidden; }

/*Portfolio Pagination Scroll*/
.scroll-btn { margin-bottom: 0px; margin-right: 0px; overflow: hidden; padding: 50px 0 0px !important; text-align: center; }
.scroll-btn li:first-child { margin-left: 0; }
.scroll-btn li {
	transition: all 0.3s ease 0s;
	display: inline-block;
	margin-left: 3px;
	padding: 0 !important;
	border-bottom: none !important;
	height: 25px;
	width: 25px;
	text-align: center;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}
.scroll-btn li a { display: block; padding: 0 !important; margin: 0; text-align: center; }
a.btn-prev:before, 
a.btn-next:before { font-family: "FontAwesome"; font-size: 13px; line-height: 27px; margin-right: 0px !important; display: inline-block; }
a.btn-prev:before { content: '\f053' !important; }
a.btn-next:before { content: '\f054' !important; }

/*Pagination Static-------------------------------------------------------------------------------------------*/
.sm-pagi { margin: 10px 0 20px; overflow: hidden; padding: 0; text-align: center; }
.sm-blog-pagi, .nav-links { margin: 0px 0 20px; overflow: hidden; padding: 0; text-align: center; }
.sm-pagi a, .sm-blog-pagi a, .nav-links a, .page-numbers.current {
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	transition: all 0.3s ease 0s;
	font-size: 18px;
	line-height: 20px;
	border-radius: 0px;
	margin: 0 0px 10px;
	padding: 8px;
	vertical-align: baseline;
	white-space: nowrap;
	width: 37px;
	height: 37px;
}
.navigation.pagination{ width:100%; margin:0; }

/* This Media for Project scroll*/
.carousel-control { width:  4%; }
.carousel-control.left,  .carousel-control.right { margin-left: 15px; background-image: none; }
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next { left:  100%; }
	.carousel-inner .prev { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next { left:  50%; }
	.carousel-inner .prev { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next { left:  25%; }
	.carousel-inner .prev { left: -25%; }	
}
/* Direction Nav */
.carou-direction-nav { *height: 0; list-style-type: none; margin: 0px; }
.carou-direction-nav a {
	border-radius: 0px;
    text-decoration: none;
    display: block;
    width: 40px;
    height: 55px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
	text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.carou-direction-nav .carou-prev { left: 15px; opacity: 0.7; }
.carou-direction-nav .carou-next { right: 15px; text-align: right; text-align: center; opacity: 0.7; }
.carou-direction-nav :hover .carou-prev { opacity: 1; left: 25px; }
.carou-direction-nav :hover .carou-next { opacity: 1; right: 25px; }
.carou-direction-nav :hover .carou-next:hover, 
.carou-direction-nav :hover .carou-prev:hover { opacity: 1; }
.carou-direction-nav .carou-disabled { opacity: 0!important; filter: alpha(opacity=0); cursor: default; }
.carou-direction-nav a:before { font-family: "FontAwesome"; font-size: 32px; line-height: 1.7; display: inline-block; content: '\f104'; }
.carou-direction-nav a.carou-next:before { content: '\f105'; }		
.slide-shadow { padding-bottom: 21px; margin: 0 0 60px; }	
body.boxed .carousel-inner > .item > img,
body.boxed  .carousel-inner > .item > a > img { max-width: none; }

/*Carousel Fade Effect---------------------------------------------------------------*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active { opacity: 1; }
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; z-index: 1; }
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right { opacity: 1; }
.carousel-fade .carousel-control { z-index: 2; }

/*Testimonial Section Css here---------------------------------------------------------------------------------*/
#testimonial { height: 100%; margin: 0; overflow: hidden; padding: 0; width: 100%; background-position: 100% 100%; background-size: cover; }
#testimonial .overlay{ height: 100%; padding: 30px 0 30px; position: relative; width: 100%; }
.testmonial-area { padding: 0 50px 0 50px; }
.description-box { border-radius: 0px; /*margin: 0 0 35px;*/ margin: 0 0 15px; padding: 30px; position: relative; }
.description-box:before { right: 0; left: 30px; bottom: -15px; width: 0; height: 0; content: ""; position: absolute; display: block; }
.author-description { display: block; font-size: 17px; letter-spacing: 0.5px; margin: 0px; }
.author-description p:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.20em;
  vertical-align: -0.4em;
  position: relative;
  top: 5px;
}
.testmonial-area h4 { font-size: 16px; line-height: 20px; letter-spacing: 1px; display: block; margin: 0; padding: 20px 0 0; }
.testmonial-area span { padding: 0 0 0 4px; }
.testmonial-area .media-body { margin: 13px 0 0; }
.author-box { float: left; margin: 0 35px 20px 0; }
.author-box img { height: 100px; padding: 4px; width: 100px; }
.clients-pager { margin-bottom: 40px; }
.testi-pager { margin: 37px 0 0px !important; height: 6px; }
.testi-pager .carousel-indicators { height: 6px; bottom: 0; margin: 0; left: 0; width: 100%; }
.testi-pager .carousel-indicators li {
	display: inline-block;
	width: 20px;
	height: 6px !important;
	border-radius: 0px !important;
	padding: 0 !important;
	margin: 0px !important;
}
.testi-pager .carousel-indicators .active { width: 20px; height: 6px; margin: 1px; }
#testimonial { margin: 0; width: auto !important; position: relative !important; left: 0 !important; bottom: 0 !important; }
.width-auto { width: auto !important; }
.wbr-typography#testimonial .widget .tagcloud a, .wbr-typography#amenities .widget .tagcloud a { border: 1px solid #fff; color: #fff; }


/*Homepage News & Blog Css-------------------------------Start by wdl-----------------------------------------------------------------*/
.wbr-section .post-content-area { margin: 0 0 17px !important; padding: 0 0 17px 0; }
.wbr-section .post-content-area:last-child { margin-bottom: 0px !important; padding-bottom: 0px; border-bottom: 0px; }
.wbr-section .post-content-area h3.entry-title { display: block; font-size: 20px; line-height: 25px; margin: -4px 0 10px; word-wrap: break-word; 
letter-spacing: 0.5px; }
.wbr-section .post-content-area h3.entry-title a { transition: all 0.3s ease 0s; }
.wbr-section .post-content-area .entry-content { margin: 0px; display: block; }
.wbr-section .post-content-area .entry-content p { margin: 0; line-height: 23px; }
.wbr-section .post-content-area a.post-thumbnail { display: block; float: left; margin-left: 0; margin-right: 25px; padding: 1px; }
.wbr-section .post-content-area a.post-thumbnail img { display: block; height: auto; width: 88px; max-width: 100%; transition: all 0.3s ease-in-out 0s; }
.wbr-section .post-content-area:hover a.post-thumbnail img { opacity: 0.7px; }
div[class*="widget_wdl_featured_latest_news"] .about-btn { display: none; }

/*Homepage About Css------------------------------------------------------------------------------------------------*/
.sm-aboutus-section { margin: 30px 0 ; }
.sm-about-area { display: block; margin: 0 0 20px; padding: 1px; }
.sm-about-area img { display: block; height: auto; max-width: 100%; transition: all 0.3s ease-in-out 0s; border-radius: 0px; }
.sm-aboutus-section h3 { margin: 0 0 25px; }
.sm-aboutus-section p { margin: 0; padding: 0 0 0 1px; display: block; }
.about-btn { display: block; margin: 10px 0 0; }
.about-btn a { display: inline-block; font-size: 15px; letter-spacing: 0.5px; font-weight: 600; line-height: 20px; margin-bottom: 0; padding: 0;
    text-align: center; transition: all 0.2s ease 0s; }
.about-btn a:hover { padding: 0 0 0 5px; }
.widget_wdl_about_info_widget p { margin: 0 0 10px; }

/*Homepage Google Map Css------------------------------------------------------------------------------------------------*/
.sm-map-section { margin: 30px 0 ; }
.google-map { margin: 0 0 20px; }
.sm-address { margin-bottom: 0; margin-top: 25px !important; padding-bottom: 0; }
.sm-address-icon { float: left; margin-left: 0; margin-right: 15px; transition: all 0.4s ease 0s; }
.sm-address-icon i { font-size: 30px; }
.sm-address address { display: block; font-size: 20px; margin-bottom: 10px; margin-top: 0px; word-wrap: break-word; letter-spacing: 0.5px; }
.sm-address address > abbr { font-size: 16px; margin: 0; padding: 0; text-decoration: none; }
.wbr-section .sm-address address { margin-bottom: 0px; }

/*Homepage Callout Css------------------------------------------------------------------------------------------------*/
.wbr-section#callout .widget_wdl_featured_callout { padding-bottom: 0; }
.sm-callout { 
	overflow: hidden;
	margin: 0;
	padding: 30px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sm-callout h4 { font-weight: 500; margin: 5px 0 5px; letter-spacing: 0.8px; line-height: 25px; float: left; word-wrap:break-word; }
.sm-callout h4 a { font-weight: 600; text-decoration:none; }
.sm-callout-btn { float: right; }
.sm-callout-btn a {
	border-radius: 2px;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    display: inline-block;
	font-weight: 600;
	letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
	float: right;
    margin: 0;
    padding: 8px 18px;
    text-align: right;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
.sm-seperate { margin: 0 0 0px; padding-bottom: 30px; }

@media (min-width: 992px) {
.col-md-3.widget_wdl_featured_callout .sm-callout h4, 
.col-md-3.widget_wdl_featured_callout .sm-callout-btn,
.col-md-3.widget_wdl_featured_callout .sm-callout-btn a { float: none; }
.col-md-3.widget_wdl_featured_callout .sm-callout-btn { margin-top: 20px; }
.col-md-4.widget_wdl_featured_callout .sm-callout h4, 
.col-md-4.widget_wdl_featured_callout .sm-callout-btn,
.col-md-4.widget_wdl_featured_callout .sm-callout-btn a { float: none; }
.col-md-4.widget_wdl_featured_callout .sm-callout-btn { margin-top: 20px; }
.col-md-6.widget_wdl_featured_callout .sm-callout h4, 
.col-md-6.widget_wdl_featured_callout .sm-callout-btn,
.col-md-6.widget_wdl_featured_callout .sm-callout-btn a { float: none; }
.col-md-6.widget_wdl_featured_callout .sm-callout-btn { margin-top: 20px; }
}

/*Gallery Section Css----------------------------------------------------------------------------------------------------------*/
.gallery-section { margin: 0px; padding: 0; overflow: auto; }
.gallery-area { margin: 0px; }
.gallery-showcase-overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gallery-showcase-overlay-inner { position: absolute; top: 50%; left: 0; width: 100%; margin-top: -30px; }
.gallery-showcase-fade { opacity: 0.2; }
.gallery-image{
	text-align:center;
	position:relative;
	line-height:0px;
	font-size:0px;
	transition: all 200ms ease-out; 
	-webkit-transition: all 200ms ease-out; 
	width:100%;
	position:relative;
	height:100%;
	overflow:hidden;
    border-radius: 0;
}
.gallery-image img{ transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; width: 100%; }
.gallery-area:hover img { -webkit-transform: scale(1.20); -moz-transform: scale(1.20); -o-transform: scale(1.20); transform: scale(1.20); }
.gallery-image .gallery-showcase-icons { margin-top: 0px; text-align: center; width: 100%; }
.gallery-image .gallery-showcase-icons a { font-size: 1.3em; display: inline-block; margin-left: 2px; padding: 12px 12px; opacity: 1; text-decoration: none; }
.gallery-image .gallery-showcase-icons a:hover { opacity: 1; }
.gallery-image .gallery-showcase-icons a i{ font-size: 28px; line-height: 40px; }
.gallery-area:hover .gallery-showcase-overlay { visibility: visible; opacity: 0.8; }
#lightbox img{ max-width:none; }

/*Team Section-------------------------------------------------------------------------------------------------*/
.team { margin: 20px 0 0px; padding: 0px 0; overflow: hidden; width: 100%; }
.team-area { padding: 6px; }
.team-caption {
	transition: all 0.3s ease 0s;
    border-radius: 0;
	padding: 17px 15px 11px;
	transition: all 180ms ease-in-out 0s;
	cursor: pointer;
	text-align: center;
	word-wrap: break-word;
	border-radius: 0px 0px 2px 2px;
}
.team-caption h4{ font-weight: 600; font-size: 20px; margin: 0 0 8px; transition: all 0.3s ease 0s; }
.team-caption h6 { font-weight: 600; font-size: 14px; line-height: 20px; margin: 0; }
.team-showcase-overlay { visibility: hidden; opacity: 0; transition: all 0.3s ease; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.team-showcase-overlay-inner { position: absolute; bottom: 10px; left: 0; width: 100%; margin-top: 0px; }
.team-showcase-fade { opacity: 0.2; }
.team-image {
	text-align:center;
	position:relative;
	line-height:0px;
	font-size:0px;
	transition: all 200ms ease-out; 
	-webkit-transition: all 200ms ease-out; 
	width:100%;
	position:relative;
	height:100%;
	overflow:hidden;
}
.team-image img { transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; max-width: 100%; }
.team-area:hover img { -webkit-transform: scale(1.20); -moz-transform: scale(1.20); transform: scale(1.20); }
.team-image .team-showcase-icons { margin-top: 0px; text-align: center; width: 100%; }
.team-image .team-showcase-icons a {
    display: inline-block;
    margin-left: 2px;
    padding: 0;
	margin: 0 3px;
	text-decoration: none;
    border-radius: 0px;
	transition: all 0.1s ease;
    height: 35px;
    width: 35px;
}
.team-image .team-showcase-icons a i { font-size: 16px; line-height: 2.2; }
.team-area:hover .team-showcase-overlay { visibility: visible; opacity: 1; }
/* Clients Section-------------------------------------------------------------------------------------------------*/
#clients .item img { margin: 0 auto 20px; }

/*Contact Section Css-------------------------------------------------------------------------------------------------------------*/
.contact-section { margin: 0px 0 0px; padding: 0; width: 100%; }
.sm-cont-widget { margin-bottom: 0px; margin-top: 0; overflow: hidden; padding: 0; }
.sidebar .widget .sm-cont-widget { padding: 0px 25px 30px; }
.cont-form-section { float: none; margin: 0 0 30px; padding: 30px 25px; }
.cont-description { display: block; overflow: hidden; margin: 0 0 28px; }
.cont-info { display: block; overflow: hidden; margin: 0 0 30px; }
.cont-info address { line-height: 22px; margin: 0 0 12px; font-style: normal; }
.cont-info address:last-child { margin: 0; }
.cont-info address a::before { display: none; }
.cont-info address > i { padding: 0 7px 0 1px; }
.cont-title { font-size: 18px; font-weight: 600; margin-top: 0px; margin-bottom: 20px; }
.cont-social { margin: 0px; padding: 0 !important; }
.cont-social li {
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 30px;
	margin: 5px 0 0 !important;
	padding: 0px !important;
	text-align: center;
	transition: background 0.2s ease-in-out 0s;
	width: 30px;
}
.cont-social li a { padding-right: 0 !important; }
.cont-social li a::before { display: none; }
.cont-social li > a > i { font-size: 14px; line-height: 2.2; transition: color 0.2s ease-in-out 0s; }
.map-section { float: none; margin: 30px 0px 30px; }
.cont-google-map { margin-bottom: 50px; margin-top: 0; }
.cont-google-map #wpgmza_map { float: none !important; }

/* Contact Form 7 ------------------------------------------------------------------------------------------------------------*/
.wpcf7 p, .widget .wpcf7 .wpcf7-form  p { margin: 0 0 15px; font-weight: 600; }
.wpcf7 p label { display: block; }
.wpcf7-text, .wpcf7-file, .wpcf7-number, .wpcf7-date, .wpcf7-select, .wpcf7-quiz { height: 46px; }
.wpcf7-textarea { height: 150px; }
.wpcf7-text, .wpcf7-file, .wpcf7-number, .wpcf7-date, .wpcf7-select, .wpcf7-quiz, .wpcf7-textarea{
	border-radius: 0;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    padding: 6px 12px;
    vertical-align: middle;
    width: 100%;
}
.wpcf7 span.wpcf7-list-item { margin: 0.2em 1em 0 0em; }
.wpcf7-file { padding: 12px; }
.wpcf7 input[type="text"], .wpcf7 input[type="password"], .wpcf7 input[type="email"], .wpcf7 textarea { padding: 6px 12px; }
.wpcf7 .wpcf7-text, .wpcf7 .wpcf7-textarea { margin: 5px 0 0; }
.cont-form-section .cont-description { margin: 0; }
.wpcf7 .wpcf7-list-item-label { font-weight: 500; }
.wpcf7 p:last-child { margin: 0px !important; }

/* Section Header Title Css --------------------------------------------------------------------------------------- */
.section-title {	
	background-position: center top;
    background-repeat: no-repeat;
	margin: 0px auto;
    padding: 20px 15px 15px;
    position: relative;
    width: 97%;
    text-align: center;
}
.section-title h1 { margin: 0; }
.section-title p { font-size: 18px; margin: 0px; letter-spacing: 0.5px; }
.separator { width: 180px; height: 1px; margin: 21px auto 21px; }
.separator span { width: 30px; height: 4px; margin: 0px auto; display: block; position: relative; bottom: 2px; }
.widget .section-title { margin: 0px auto; }
.wbr-typography .widget_hotel_california_section_header_widget .section-title { text-align: center; border-bottom: none; padding: 0; margin: 0; }
.wbr-typography .widget_hotel_california_section_header_widget .section-title .separator span { width: 30px; height: 4px; margin: 0px auto; display: block; position: relative; bottom: 2px; }
.widget_hotel_california_section_header_widget { padding-top: 0; padding-bottom: 0; }
/* Additional section ---------------------------------------------------------------------------------------------------*/
.section-separator span { width: 30px; height: 4px; margin: 0px auto; display: block; position: relative; bottom: 2px; }
.section-separator { background-color: #cccccc; width: 180px; height: 1px; margin: 21px auto 21px; }
.section-subtitle { color: #64646d; font-size: 18px; font-weight: 500; line-height: 25px; margin: 0; letter-spacing: 0.5px; }

/*Graphite Amenities Section Css here---------------------------------------------------------------------------------*/
#amenities { height: 100%; overflow: hidden; padding: 0; width: 100%; }
#amenities .overlay{ height: 100%; padding: 30px 0 30px; position: relative; width: 100%; }
.sm-amenities { display: block; transition: all 0.3s ease 0s; padding: 12px 20px; }
.sm-amenities i { padding-right: 20px; }
#amenities .wdl_aboutpage_amenities_widget { padding-top: 20px; padding-bottom: 0px; margin-bottom: 0; }
#amenities .wdl_aboutpage_amenities_widget:last-child { padding-bottom: 30px; }

/*About Us Css --------------------------------------------------------------------------------------------------------------------*/
.about-section { margin: 0px 0 30px; padding: 0; overflow: hidden; width: 100%; }
.about-img-area { margin: 0; padding: 1px; position: relative; }
.about-img-area img,img[class*='wp-image'] { border-radius: 0px; }
.about-section h2 { margin-bottom: 25px; margin-top: 0; padding: 0 0 0 0px; }
.about-section p { margin: 0 0 15px; padding: 0 0 0 0px; }
.about-social { float: left; margin: 0px 0px 0px 0px; padding: 5px 0; }
.about-social li {
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 35px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	text-align: center;
	transition: background 0.2s ease-in-out 0s;
	width: 35px;
}
.about-social li > a > i { font-size: 14px; line-height: 2.5; transition: color 0.2s ease-in-out 0s; }
.page-template-about .blog-section h1, .page-template-about .blog-section h2, .page-template-about .blog-section h3, 
.page-template-about .blog-section h4, .page-template-about .blog-section h5, .page-template-about .blog-section h6 { margin: 0 0 25px; padding: 0; } 
.page-template-about #callout { border-top: none; border-bottom: none; padding-top: 0; }
.page-template-about #callout .widget_wdl_featured_callout { padding-top: 0; }

/*Section Title Css----------------------------------------------------------------------------------------------------*/
.widget-title { margin: 0 0 25px; word-wrap: break-word; }

/*Page Title Section Css-------------------------------------------------------------------------------------*/
.page-title-section { height: 100%; margin: 0 0 0px; overflow: hidden; padding: 0; width: 100%; }
.page-title-section .overlay { height: 100%; padding: 60px 0 58px; position: relative; width: 100%; }
.page-title { background-position: center top; background-repeat: no-repeat; margin: 0 auto 0px; padding: 0px; position: relative; width: 99%; }
.page-title h1 { letter-spacing: 1px; margin: 0 0 0px; word-wrap: break-word; }
.page-breadcrumb { list-style: none outside none; margin-bottom: 0px; padding: 10px 0 0; text-align: right; font-size: 17px; line-height: 20px; }
.page-breadcrumb > li { display: inline-block; }
.page-breadcrumb > li + li:before { content: "/ "; padding: 0 5px; }
.page-seperator { height: 70px; width: 100%; overflow: hidden;}
.margin-top { margin-top: 0px; } .margin-bottom { margin-bottom: 0px; }

/*Blog Section Css-------------------------------------------------------------------------------------------------------------*/
.blog-section { margin: 0px 0 40px; padding: 0; width: 100%; }
.blog-section .post-content-area { border-radius: 0; margin-bottom: 40px; padding: 20px; transition: all 0.4s ease 0s; }
.blog-section .post-content { padding: 20px 0 16px; }
.blog-section .entry-content, .blog-section .entry-content p { margin: 0 0 20px; }
.blog-section .entry-content:last-child, .blog-section .entry-content p:last-child { margin: 0; }
.blog-featured-img, .post-featured-area { margin-bottom: 0; margin-top: 0; overflow: hidden; position: relative; transition: all 200ms ease-out 0s;
width: 100%; }
.post-featured-area { padding: 6px; margin-bottom: 40px; }
.blog-section .post-content a.post-thumbnail { margin-bottom: 0px; margin-top: 0px; overflow: hidden; position: relative; transition: all 200ms ease-out 0s; }
.blog-section .post-content-area a.post-thumbnail img { border: none; box-shadow: none; }
.blog-section .post-content-area .entry-header { line-height: 25px; margin: 0 0 21px; }
.blog-section .post-content-area .entry-header .entry-title > a { text-decoration: none; transition: all 0.4s ease 0s; }
.blog-section .post-content-area .entry-header .entry-title:after { display: none; }
.blog-section .post-content-area .entry-meta { letter-spacing: 1px; font-weight: 600; margin: 0 0 20px; padding: 0; width: 100%; overflow: hidden; }
.blog-section .post-content-area .entry-meta a { font-size: 13px; padding: 5px 0 5px; display: inline-block; transition: all 0.3s ease 0s; }
.blog-section .post-content-area .entry-meta a > i { font-size: 14px; margin-right: 9px; vertical-align: middle; margin-top: -4px; }
.blog-section .post-content-area .author {
    background-color: transparent;
    display: inline-block;
	transition: all 0.3s ease 0s;
    margin: 0;
    padding: 0;
    position: relative;
}
.blog-section .post-content-area .author::before { content: "\f007"; padding-right: 5px !important; padding-left: 1px; }   
.blog-section .post-content-area .entry-meta > span { margin-right: 25px; }
.blog-section .post-content-area .entry-date a::before, .post-content-area .tag-links::before, .post-content-area .author::before {
	font-family: FontAwesome;
	margin-right: 0;
	line-height: 20px;
    position: relative;
    top: 2px;
    display: inline-block;
    font-size: 14px;
	padding-right: 10px;
    text-decoration: inherit;
    vertical-align: text-bottom;
}
.blog-section .post-content-area .entry-date a::before { content: "\f073"; }
.blog-section .post-content-area .tag-links a { display: inline-block; transition: all 0.3s ease 0s; margin: 0; position: relative; }
.blog-section .post-content-area .tag-links::before { content: "\f02c"; padding-right: 5px; }
.blog-section .post-content-area .entry-content { display: block; margin: 0; }
.blog-section .post-content-area a.more-link, .more-link, input[type="submit"] {
	border-radius: 2px;
    display: block;
	border: 0 none;
    font-size: 14px;
	font-weight: 600;
    line-height: 20px;
    margin: 28px 0 3px;
    padding: 8px 24px;
    text-align: center;
    transition: all 0.4s ease 0s;
	width: intrinsic; 
	width: -moz-max-content; 
	width: -webkit-max-content; 
}
.blog-section .post-content-area a.more-link:hover, .more-link:hover
input[type="submit"]:hover { text-decoration: none; }
.blog-section .post-content-area a.more-link::before, .more-link::before { content: "\f178"; font-family: FontAwesome; margin: 0 0 0 7px; padding: 0;
	font-size: 14px; float: right; }
.blog-section .post-content-area .edit-link a { font-size: 14px; font-weight: 600; line-height: 20px; padding: 15px 0 0; letter-spacing: 0.5px; display:block; }
.blog-section .video-wrapper .has-iframe { position: relative; padding-bottom: 56.25%; }
.blog-section .video-wrapper iframe { position: absolute; top: 0; width: 100%; height: 100%; }

/*Blog Author Comment form Css----------------------------------------------------------------------------------------------------------*/
.blog-author { float: none; margin: 0 0px 40px 0; padding: 30px 25px; }
.blog-author img { height: 100px; margin-right: 15px; width: 100px; }
.blog-author h6 { font-weight: 600; letter-spacing: 1px; font-size: 18px; line-height: 20px; margin: 0 0 15px; }
.blog-author p { margin: 0px; }
.blog-author-social { margin: 20px 0 0; padding: 0; }
.blog-author-social li {
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 30px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	text-align: center;
	transition: background 0.2s ease-in-out 0s;
	width: 30px;
}
.blog-author-social li > a > i { font-size: 14px; line-height: 2.2; transition: color 0.2s ease-in-out 0s; }
.comment-section { float: none; margin: 0 0px 40px 0; padding: 30px 25px 5px; }
.comment-title { display: block; margin: 0 0 25px; padding: 0 0 15px; }
.comment-reply-title { margin-top: 0; }
.comment-title h3 { font-size: 22px; font-weight: 600; letter-spacing: 0.5px; margin: 0; padding: 0; }
.comment-title h3 > i { font-size: 24px; margin-right: 8px; }
.comment-box { margin: 0 !important; padding: 0; position: relative; }
.pull-left-comment { float: left; margin-right: 25px; }
.comment-img { border-radius: 100%; height: 70px; margin: 2px 0 20px; width: 70px; }
.comment-detail { margin-bottom: 40px; margin-left: 0; padding: 0 0 25px; }
.comment-detail-title { font-size: 16px; font-weight: 600; line-height: 20px; margin: 0 0 15px; }
.comment-date { float: right; font-size: 16px; font-weight: 600; line-height: 20px; margin: 0; padding-left: 7px; vertical-align: middle; }
.comment-detail p { margin: 0 0 27px; }
.reply { font-size: 13px; }
.reply a { border-radius: 2px; display: inline-block; font-weight: 600; font-size: 13px; line-height: 20px; padding: 3px 15px; }
.comment-form-section { float: none; margin: 0 0px 40px 0; padding: 30px 25px; }
.comment-form-section input[type="submit"], .comment-form-section p.form-submit { margin: 0; }
.cont-form-section { float: none; margin: 0 0px 30px 0; padding: 30px 25px; }
.form-inline .blog-form-group, .form-inline .cont-form-group { display: inline-block; margin-bottom: 0; margin-right: 5px; vertical-align: middle;
width: 100%; }
.blog-form-control, .cont-form-control { height: 46px; margin-bottom: 20px; }
.form-inline .blog-form-group-textarea,  
.form-inline .cont-form-group-textarea { display: inline-block; margin-bottom: 0; vertical-align: middle; width: 100%; }
.blog-form-control, .cont-form-control, .blog-form-control-textarea, .cont-form-control-textarea, .comment-form-section input[type="text"] {
	border-radius: 0;
    display: inline-block;
	letter-spacing: 1px;
	font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
    padding: 6px 12px;
    vertical-align: middle;
    width: 100%;
}
.comment-form-section input[type="submit"], .wpcf7 input[type="submit"] {
	border-radius: 2px;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 20px;
	margin: 5px 0 0;
	padding: 10px 20px;
	text-align: center;
	transition: all 0.4s ease 0s;
}

/* wdl sidebar css -----------------------------------------Start by wdl------------------------------------------------------*/
.widget h1.widget-title a.rsswidget { font-weight: 500; margin: 0 0 0px; }
.widget h1.widget-title a.rsswidget { font-size: 36px; line-height: 40px; }
.callout .widget h4.widget-title { font-weight: 500; margin: 0; }
.top-header-detail .section-title, .footer-sidebar .section-title { width: 100%;padding: 0 0 15px;margin: 0 0 40px;display: block;text-align: left; }
.section-title h3.widget-title a, 
.widget h3.widget-title a.rsswidget { font-size: 22px; margin: 0; padding-bottom: 0px; word-wrap: break-word; }
.top-header-detail .section-title .widget-title a:hover, .footer-sidebar .section-title h3.widget-title a:hover, 
.top-header-detail .section-title .widget-title a:focus, .footer-sidebar .section-title h3.widget-title a:focus { text-decoration: none; }
.top-header-detail .section-title span,
.footer-sidebar .section-title span { bottom: 2px; display: block; height: 4px; margin: 0; position: absolute; bottom: -2px; left: 0; width: 30px; }

/* Blog sidebar */
.sidebar { margin-bottom: 0px; margin-left: 0; padding: 0px; }
.sidebar .section-title {  width: 100%; margin-bottom: 30px; padding: 16px 20px; display: block; text-align: left; margin-top: -30px; }
.sidebar .section-title h3.widget-title, .sidebar .section-title h3.widget-title a, 
.sidebar .widget h3.widget-title a.rsswidget { font-size: 20px; margin: 0; padding-bottom: 0px; word-wrap: break-word; }
.sidebar .section-title h3.widget-title a:hover, .sidebar .section-title h3.widget-title a:focus { text-decoration: none; }
.sidebar-menu-box { display: block; }
.sidebar .widget { margin: 0 0 40px; padding: 30px 0 0; }
/* For spacing between the section title and widget for sidebar--------- 
.sidebar .widget { padding-top: 30px; }
.sidebar .section-title { margin-top: -30px; } */

/*All Sidebar Widget-----------------------------------------------------------------------------------------------------------------*/
.callout .widget { padding-top: 0px; padding-bottom: 50px; }
.team .widget { padding-top: 0; padding-bottom: 40px; }
.team .widget:nth-child(4n+1), .amenities-section .widget:nth-child(4n+1){ clear: both; }

/*Sidebar Calender Widget*/
.sidebar .widget .calendar_wrap { padding: 0 25px 30px 25px; }
.widget #wp-calendar caption { font-size: 16px; text-align: center; font-weight: 600; margin: 0; padding: 10px 0; }
.widget table {
    font-size: 15px;
	border-collapse: separate;
	border-spacing: 0;
	letter-spacing: 0.5px;
	border-width: 1px 0 0 1px;
	margin: 0;
	text-align: center;
	table-layout: fixed;
	width: 100%;
	padding:0;
}
.widget .calendar_wrap { padding: 0; }
.widget .calendar_wrap th { padding: 0; text-align: center; border-width: 0 1px 1px 0; line-height: 40px; }
.widget .calendar_wrap td { padding: 0; border-width: 0 1px 1px 0; line-height: 40px; }
.widget #wp-calendar tbody a { font-weight: 700; display: block; }
.widget #wp-calendar tbody a:hover, .widget #wp-calendar tbody a:focus { font-weight: 700; display: block; }
.widget #wp-calendar #next a, .widget #wp-calendar #prev a { font-weight: 600; }
/*Sidebar Links Widget */
.sidebar .widget ul { margin: 0; padding: 0 25px 30px 25px; }
.widget ul { list-style: outside none none; padding: 0; }
.widget ul:last-child { margin: 0; }
.widget li ul.children { padding-bottom: 0; margin-top:12px; }
.widget li ul.sub-menu { margin-top:12px; padding-right:0; padding-bottom:0; }
.widget ul.children, .widget ul.sub-menu { margin-top:12px; margin-left:20px; }
.sidebar .widget ul.children, .sidebar .widget ul.sub-menu { margin-top:12px; margin-left:0px; }
.widget ul.children li:first-child, .widget ul.sub-menu li:first-child { padding-top:12px; }
.widget li:first-child { padding-top: 0px; }
.widget li:last-child { padding-bottom: 0px;  border-bottom: 0px !important; } 
.widget li { font-size: 15px; letter-spacing: 0.5px; line-height: 22px; padding: 12px 0; vertical-align: top; border-top: 0 none; }
.widget li a, .widget a { border: 0 none; }
.widget li a::before {  content: "\f00c"; font-family: FontAwesome; margin-right: 10px; margin-left: 1px; font-size: 14px; }
.widget ul#recentcomments li.recentcomments span.comment-author-link { font-weight: 700; }
.widget_recent_comments li a::before, .widget .header-contact-info1 li a::before { display: none; }
/*Sidebar Rss Widget*/
.widget a.rsswidget { font-size: 15px; font-weight: 600; }
.widget .rss-date, .widget cite { display: block; padding: 5px 0 5px; font-size: 1.3rem; line-height: 1.8462; }
/*Sidebar Text Widget*/
.sidebar .widget .textwidget { padding: 0 25px 30px 25px; }
.widget .textwidget { padding: 0; }
.widget .textwidget .wp-caption p.wp-caption-text { 
    background: transparent;
    font-size: 15px;
    margin: 0;
    padding: 6px 0px;
    position: relative;
    text-align: left;
}
/*Sidebar Form Widget*/
.sidebar .widget form.search-form { padding: 0 25px 30px 25px; }
.widget form.search-form { padding: 0; }
.widget form.search-form span.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important;
width: 1px; } 
.widget form.search-form input.search-field { padding: 6px 12px; height: 45px; width: 63%; border-radius: 2px; letter-spacing: 1px;box-shadow: none;}
.widget form.search-form input.search-submit {
	border: 0 none;
    border-radius: 2px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
	height: 42px;
    margin: 0;
    padding: 12px 24px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.sidebar .widget_categories select, .sidebar .widget_archive select, 
.sidebar .widget select { width: 85%; height: 45px; font-size: 16px; padding: 6px 12px; }
.sidebar .widget_categories select, .sidebar .widget_archive select { margin: 0 25px 30px; }
.widget_categories select, .widget_archive select, 
.widget .textwidget select { width: 100%; height: 45px; font-size: 16px; margin: 0; padding: 6px 12px;  }
/*Sidebar Tags*/
.widget .tagcloud { margin: 0px; overflow: hidden; }
.sidebar .widget .tagcloud { margin: 0px; overflow: hidden; padding: 0 25px 30px 25px; }
.widget .tagcloud { margin: 0px; overflow: hidden; padding: 0; }
.widget .tagcloud a {
    display: inline-block;
	letter-spacing: 0.5px;
    font-size: 15px !important;
    line-height: 20px;
    margin: 0 5px 10px 0;
    padding: 6px 14px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
/*Blockquote*/
.widget blockquote { background: transparent; }

/* 404 Error Page Css ---------------------------------------------------------------------------------------------------------------------------------------------- */
.404-section { margin: 0 0 30px; padding: 0; width: 100%; }
.error_404 { clear: both; margin: 0 auto; padding: 30px 0 70px; text-align: center; width: 50%; }
.error_404 h1 { font-size: 200px; line-height: 160px; margin: 20px 0; }
.error_404 h1 > i { font-size: 190px; padding: 0 10px; }
.error_404 h4 { margin: 20px 0px 25px; font-size: 50px; line-height: 45px; }
.error_404 p { margin-bottom: 25px; font-size: 18px; letter-spacing: 1px; }

/*Footer Sidebar Section Css--------------------------------------------------------------------------------------------------------*/
#footer { padding-bottom: 0px; }
.footer-sidebar { margin: 0; padding: 20px 0 20px; overflow: auto; }
.site-info { padding: 25px 0; text-align: center; }
.footer-sidebar .widget-title, .top-header-detail .widget-title { margin: 0; }
.site-info p { letter-spacing: 1px; line-height: 20px; margin: 0; padding: 0; }
.footer-logo { margin: 0 0 40px; }

/*Scroll Layout Button*/
.hc_scrollup {
    border-radius: 0px;
    bottom: 0px;
	padding: 3px;
    display: none;
    height: 30px;
    opacity: 1;
    position: fixed;
    right: 60px;
    text-align: center;
    width: 30px;
	overflow: hidden;
    z-index: 9999;
}
.hc_scrollup:hover { opacity: 1; }
.hc_scrollup i{ font-size: 14px; }

/*---------------------- adding new css for blog ----------------------*/  
.about-section-space, .room-section-space { margin: 0px 0 20px; padding: 5px 0; overflow: hidden; }
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.portfolio-content-area .wp-post-image, .post-content-area .wp-post-image { border: 0 none; box-shadow: none; }
.page-template-about-php .blog-section article h2:nth-child(2){ margin-top:0; }
.page-template-about-php .blog-section article p:first-child{margin:0px;}
.page-template-about-php .blog-section article img:first-child{ margin-top:0; }
.carou-direction-nav li { padding:0; }
.sticky {}
.bypostauthor {}

/*Portfolio Icons*/
.portfolio-content-title h3 { padding: 20px 20px 15px; text-align:center; }
.portfolio-icon { height: 50px; }
.portfolio-icon i { font-size: 4em; line-height: 0.8em;}
/* .widget.widget_wbr_feature_page_widget { padding-top: 0; padding-bottom: 0; } */
.col-md-3:nth-child(4n+1){ clear:left; }
.col-md-4:nth-child(3n+1){ clear:left; }
.col-md-6:nth-child(2n+1){ clear:left; }
.portfolio-content-area iframe{width:100%;}
.gallery-area .gallery-caption {
    letter-spacing: 0.05em;
	font-size: 20px;
    margin: 0 0 10px;
    text-shadow: 2px 2px 1px #000;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    -wekbit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.gallery-area:hover .gallery-caption {
    -wekbit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.padding0 { padding-left: 0 !important; padding-right: 0 !important; }
.border0 { box-shadow: none !important; border: none !important; }

/*Cart Detail Header--------------------------------------------------------------------------------------------------*/
.sm-top-btn .minicart-link { background-color: transparent; box-shadow: none; padding: 0 0 0 15px; font-size:16px; }
.sm-top-btn .minicart-link img { height: 25px; width: 25px; }
.sm-top-btn .minicart-link i { font-size: 20px; }

/* For Gallery Five column---------------------------------------------------------------------------------- */
@media(min-width: 992px){ .col-5 { width: 20% !important; float: left !important; } }

@media only screen and (min-width: 200px) and (max-width: 480px) { .mobile-slider{ display:none;}}


/* CTA Appointment*/
/*Top Callout Section-------------------------------------------------------------------------------------------*/
.top-contact-detail-section {
    margin: 0;
    width: 100%;
}
.contact-area {
	margin: 0px;
    padding: 10px 0px;
}
.contact-icon {
    float: left;
    margin: 0 25px 0 0;
    padding: 0;
}
.contact-icon i {
    font-size: 45px;
	color: #ffffff;
	transition: all 0.3s ease-in-out 0s;
}
.contact-area:hover .contact-icon i { padding-top: 10px; }
.contact-area h6 {
	color: #ffffff;
    font-family: 'Open Sans';
	font-weight:600;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0 0 7px;
}
.contact-area h4 {
    color: #ffffff;
	font-family: 'Open Sans';
	font-weight:600;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 27px;
    margin: 0 0 0px;
}

.cta-section {
	padding: 30px 0;
	
}
.cta-section h1 {
	color: #fff;
	font-family: 'Dosis';
	    margin-top: 13px;
}
.cta-btn {
    color: #FFFFFF;
    border: 3px solid #ffffff;
    font-family: 'Dosis';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0px;
    padding: 17px 55px;
    text-align: right;
    transition: all 0.4s ease 0s;
    letter-spacing: 1px;
	float: right;
}
.cta-btn:hover { background-color: #ffffff !important; border: 3px solid #ffffff; }

/*Header Social Icons---------------------------------------------------------------------------------------------------*/
.head-contact-social {
	float: right;
	/* margin: 0px 0px 0px 35px; */
	margin: 0px 0px 0px 20px;
	padding: 28px 0;
}
.head-contact-social li {
	background-color: #d0d0d0;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	height: 30px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	text-align: center;
	transition: background 0.2s ease-in-out 0s;
	width: 30px;
	margin-left:0px;
}
.head-contact-social li.facebook:hover { background-color: #4c66a4; }
.head-contact-social li.twitter:hover { background-color: #15b4c9; }
.head-contact-social li.googleplus:hover { background-color: #DD4B39; }
.head-contact-social li.linkedin:hover { background-color: #006599; }
.head-contact-social li.instagram:hover { background-color: #bc2a8d; }
.head-contact-social li.skype:hover { background-color: #40beee; }
.head-contact-social li.dribbble:hover { background-color: #c7366f; }
.head-contact-social li.youtube:hover { background-color: #cc2423; }
.head-contact-social li.vimeo:hover { background-color: #20b9eb; }
.head-contact-social li.pagelines:hover { background-color: #364146; }
.head-contact-social li > a > i { 
	color: #FFFFFF;
	font-size: 16px;
	line-height: 1.9;
	transition: color 0.3s ease-in-out 0s;
}
.cart-icon {
	background: transparent !important;
	margin-left: 10px !important;
	vertical-align: middle !important;
}





.head-contact-social1 {
	float: right;
	/* margin: 0px 0px 0px 35px; */
	margin: 0px 0px 0px 20px;
	padding: 10px 0;
}
.head-contact-social1 li {
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	border-radius: 0;
	height: 30px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	text-align: center;
	transition: background 0.2s ease-in-out 0s;
	width: 30px;
	margin-left:0px;
}
.head-contact-social1 li.facebook:hover { background-color: #4c66a4; }
.head-contact-social1 li.twitter:hover { background-color: #15b4c9; }
.head-contact-social1 li.googleplus:hover { background-color: #DD4B39; }
.head-contact-social1 li.linkedin:hover { background-color: #006599; }
.head-contact-social1 li.instagram:hover { background-color: #bc2a8d; }
.head-contact-social1 li.skype:hover { background-color: #40beee; }
.head-contact-social1 li.dribbble:hover { background-color: #c7366f; }
.head-contact-social1 li.youtube:hover { background-color: #cc2423; }
.head-contact-social1 li.vimeo:hover { background-color: #20b9eb; }
.head-contact-social1 li.pagelines:hover { background-color: #364146; }
.head-contact-social1 li > a > i { 
	color: #FFFFFF;
	font-size: 16px;
	line-height: 1.9;
	transition: color 0.3s ease-in-out 0s;
}
